<span class="content-paragraph">
  <span class="body">
    Through the user research, we identified the types of potential users and
    their respective challenges. We analysed the categories of users, and their
    specific needs if they are to start investing with Wavy. The objectives that
    Wavy has for each category are concise.
    <br />
    <br />

    <span class="highlight">
      The categories of the users have been curated from years of data that has
      been reviewed and considered from my work with Kukura Capital, which is
      one of the top personal finance platforms in South Africa.
    </span>

    Kukura Capital assists people with the management of their personal
    finances. The categories highlight the main users for Wavy. A user can,
    however, be a combination of the identified categories.
    <br />
    <br />
  </span>

  <span class="bold-sub-heading body"> The Beginner </span>

  <span class="body">
    The Beginner is a person who wishes to start investing but does not have a
    lot of knowledge or experience in investing in the capital markets. A
    beginner is the most vulnerable user of Wavy. This is because they can be
    very susceptible in the financial sector. Due to their lack of experience in
    investing they, a) rely very heavily on financial advice and, b) can be more
    inclined to make emotional and inconsistent investing decisions as a result
    of being too reactive to the fluctuations that may occur in their investment
    portfolio. This may result in prematurely selling and buying investments,
    and ultimately missing out on the opportunities that are presented by the
    financial markets.

    <br />
    <br />
    The Beginner will represent a huge base of the users of Wavy, and therefore,
    Wavy is designed to prioritise their needs. However, Wavy will be going the
    extra mile by also focusing on developing them into an Experienced or
    Household investor.
    <br />
    <br />
  </span>

  <!--beginner investor-->
  <span class="tabs-container">
    <span class="body">
      <button type="button" class="project-tab" (click)="toggleBeginner()">
        More insights on the Beginner Investor.
      </button>
    </span>
  </span>

  <!--more information on the beginner-->

  <span *ngIf="this.selectedBeginner" class="body">
    <span class="body"> The main pain-points of the Beginner: </span>

    <br />

    <span class="body">
      <ul>
        <li>
          A very limited understanding of the financial markets, which often
          translates poorly uninformed financial decisions;
        </li>

        <li>
          An over dependency on financial advice due to a limited understanding
          of the financial markets;
        </li>

        <li>
          Convoluted use of financial terms and financial indicators easily
          overwhelms the user and makes the process of investing inaccessible;
        </li>

        <li>
          Lack of experience of the capital markets which leads to fear in
          investing; and
        </li>
        <li>
          A strong dependency on credible guidance and assistance through the
          initial process of investing, withdrawing funds, and building
          investment portfolios.
        </li>
      </ul>
    </span>
    <br />

    <span class="body"> The needs of the Beginner: </span>

    <br />

    <span class="body">
      <ul>
        <li>
          Their investment options narrowed down in accordance to their needs,
          so that they are not overwhelmed and rushed into investment decisions;
        </li>
        <li>
          The investing pace of the Beginner needs to be managed and monitored
          to prevent bad investment decisions;
        </li>
        <li>
          Their financial needs will have to be clearly identified in order to
          find products that are compatible; and
        </li>
        <li>
          Simple language needs to be used to give them access to making
          financial decisions.
        </li>
      </ul>
    </span>
    <br />

    <span class="body"> Wavy’s objectives for the Beginner: </span>

    <span class="body">
      <ul>
        <li>
          Wavy wishes to develop the user’s understanding of the capital markets
          and how to navigate these markets for the purposes of investing;
        </li>
        <li>
          Wavy wants to build the confidence of the Beginner by helping them to
          build the necessary financial habits to maintain, and grow their
          personal finances;
        </li>
        <li>
          In growing the confidence of a Beginner, Wavy aims that such users
          will not be susceptible to wrong financial advice. Users should be
          able to analyse any financial products advertised to them; and
        </li>
        <li>
          Wavy hopes that the Beginner will be interested in their continuous
          growth and development as an investor, such that they evolve into a
          Learner and an Experienced Investor.
        </li>
      </ul>
    </span>

    <!--done with the beginner-->
  </span>

  <!--learner investor-->
  <span class="bold-sub-heading body"> The Learner Investor</span>

  <span class="body">
    The Learner is a user who is committed to their continuous development as an
    investor. They are always eager to deepen their understanding of the capital
    markets and investing in such markets. These users want to have every
    possible tool in the form of knowledge that can give them all the benefits
    when building investment portfolios.
    <br />
    <br />
  </span>

  <!--more information about the learner-->

  <span class="tabs-container">
    <span class="body">
      <button type="button" class="project-tab" (click)="toggleLearn()">
        More insights on the Learner Investor.
      </button>
    </span>
  </span>

  <span *ngIf="this.selectedLearn" class="body">
    <span class="body"> The main paint points for the learner: </span>

    <span class="body">
      <ul>
        <li>
          Easily accessible information about the financial markets and
          investing, this user wishes to learn more about investing, in a very
          convenient way;
        </li>
        <li>
          The information about investing needs to be designed in a format which
          enables the user to naturally progress in their learning process; and
        </li>
        <li>
          This user would like practical examples presented to them so that they
          can have a realistic understanding of the utilisation of certain
          financial and investment principals.
        </li>
      </ul>
    </span>

    <span class="body"> The needs of the learner: </span>

    <span class="body">
      <ul>
        <li>
          Easy access to skills development, as it pertains to selecting
          investments from the capital markets and portfolio development.
        </li>
      </ul>
    </span>

    <span class="body"> The objectives of Wavy: </span>

    <span class="body">
      <ul>
        <li>
          Aid the Learner in their development as an investor by making learning
          about the markets a convenient and exciting process. This can be done
          by introducing a reward system; and
        </li>
        <li>
          Make the learning component that Wavy has to offer attractive to all
          users of the product because learning is the best guarantee to ensure
          that the platform is effective to all its users.
        </li>
      </ul>
    </span>
  </span>

  <!--the household content-->
  <span class="bold-sub-heading body"> The Household Investor </span>

  <span class="body">
    This is the person who is allocated within their household or their social
    group such as a stockvel, to manage the finances of the respective group.
    This person already has an appreciation for basic finance principles and for
    this reason wishes to further grow group finances through the capital
    markets. They can be at any range of the spectrum ranging from Beginner or
    an Experienced Investor as it relates to their experience as an investor in
    the capital markets.
    <br />
    <br />
    The characteristic that defines this group is that they are very observant
    and prudent about financial decisions and approach investing with this sense
    of responsibility and diligence.
    <br />
    <br />
  </span>

  <!--more information about the household investor-->
  <span class="tabs-container">
    <span class="body">
      <button type="button" class="project-tab" (click)="toggleHousehold()">
        More insights on the Household Investor.
      </button>
    </span>
  </span>

  <span *ngIf="this.selectedHousehold" class="body">
    <span class="body"> The main pain points of the Household Investor: </span>
    <span class="body">
      <ul>
        <li>
          They do not get easy access to a comprehensive summary of the main
          deciding factors about a financial product that will allow them to
          make a confident informed decision;
        </li>
        <li>
          Convoluted presentation of information as it relates to financial
          products, whilst also simultaneously not readily providing critical
          information;
        </li>
        <li>
          Not enough readily accessible information pertaining to costs, risks
          and other key metrics which they are used to, are readily available on
          the investment products that they wish to invest in; and
        </li>
        <li>
          Not enough platforms that effectively consolidate learning materials
          necessary to effectively navigate investing in the capital markets.
        </li>
      </ul>
    </span>

    <span class="body"> The needs of the Household Investor: </span>
    <span class="body">
      <ul>
        <li>
          A credible feature within the platform that correctly shortlists and
          filters the financial products that are most suitable for the user’s
          needs.
        </li>
      </ul>
    </span>

    <span class="body">
      The objectives of Wavy for the Household Investor:
    </span>
    <span class="body">
      <ul>
        <li>
          Provide the user with recommendations of financial products that are
          most compatible with their focus; and
        </li>
        <li>
          Develop the user’s understanding of financial products and the capital
          markets so that they are able to expand and fully optimise the
          offerings of investing in the capital markets.
        </li>
      </ul>
    </span>
  </span>

  <!--focused investor-->

  <span class="bold-sub-heading body"> The Focused Investor </span>

  <span class="body">
    This investor is proceeding to invest with a particular goal or focus in
    mind, an example could be investing purely for the purpose of retirement.
    This user may have more than one specific focus, however, it is often
    limited to one or two main objectives. Therefore this user wants to be
    stirred towards financial products that are available in the capital markets
    that are designed to specifically achieve their specific focus
    <br />
    <br />
  </span>

  <!--more information about the focused investor-->
  <span class="tabs-container">
    <span class="body">
      <button type="button" class="project-tab" (click)="toggleFocus()">
        More insights on the Focused Investor.
      </button>
    </span>
  </span>

  <span *ngIf="this.selectedFocus" class="body"> focused content</span>

  <!--the experienced investor-->
  <span class="bold-sub-heading body"> The Experienced Investor </span>

  <span class="body">
    The Experienced Investors arise as a result of one or two circumstances:

    <ol type="1">
      <li>They joined the platform as an Experienced Investor; or</li>
      <li>
        They developed into an Experienced Investor as the result of Wavy.
      </li>
    </ol>

    In either circumstances, this user has obtained the critical knowledge to
    make the necessary financial decisions whilst building their investment
    portfolios. This is a benefit that Wavy would like to exploit so that it can
    be used to the benefit of other users of the platform.
    <br />
    <br />
  </span>

  <!--more information about the experienced investor-->
  <span class="tabs-container">
    <span class="body">
      <button type="button" class="project-tab" (click)="toggleExperience()">
        More insights on the Experienced Investor.
      </button>
    </span>
  </span>

  <span *ngIf="this.selectedExperience" class="body">
    <span class="body"> The objectives of the Experienced Investor: </span>
    <span class="body">
      <ul>
        <li>
          Affordable and easy access to make investments and manage investment
          portfolios; and
        </li>
        <li>
          Access to the necessary tools to perform more complex analysis on
          financial products and investment portfolios.
        </li>
      </ul>
    </span>

    <span class="body"> The needs of the Experienced Investor: </span>
    <span class="body">
      <ul>
        <li>
          Capacity to carry out more complex investment strategies cost
          effectively;
        </li>
        <li>
          Transfer of existing portfolios in an efficient and easy way (in the
          event that they have been manning their portfolio using another
          platform); and
        </li>
        <li>
          Efficiency on the investment process, particularly as it relates to
          verification, deposits and withdrawals.
        </li>
      </ul>
    </span>

    <span class="body"> The objectives of Wavy for the Experienced User: </span>

    <span class="body">
      <ul>
        <li>
          Offer a smart platform that gives the user the necessary tools to
          perform the financial analysis needed to make investment decisions;
          and
        </li>
        <li>
          Provide a platform that rivals competitors in efficiency as it
          pertains to all the key steps within investing.
        </li>
      </ul>
    </span>
  </span>

  <!--Bad Investor-->
  <span class="bold-sub-heading body"> The Bad Investor </span>

  <span class="body">
    This user is a liability and by no means not the target market for Wavy.
    This “investor” is only keen on making quick money from the markets. They
    have no regard to develop their understanding of the capital markets, nor
    have understanding of the associated risks with investing. This user does
    exist and Wavy is designed to have the necessary mechanisms that act as a
    deterrent for such users, as they are liability to themselves and can
    further cause reputational risk for Wavy.
    <br />
    <br />
  </span>

  <span class="quote body">
    [Note that the objective of the Bad Investor have been omitted because there
    is no correlation that is been drawn between their objectives and the needs
    we have identified for this type of user.]
    <br />
    <br />
  </span>

  <!--more information about the bad investor-->
  <span class="tabs-container">
    <span class="body">
      <button type="button" class="project-tab" (click)="toggleBad()">
        More insights on the Bad Investor.
      </button>
    </span>
  </span>

  <span *ngIf="this.selectedBad" class="body">
    <span class="body"> The needs of a Bad Investor: </span>

    <span class="body">
      <ul>
        <li>
          They need to be restricted from making investment decisions that are
          reckless through thorough pre-emptive warnings;
        </li>
        <li>
          Their needs to be limit placed on volume and frequency of their
          investing, as this may be poorly influenced by misinformed
          expectations of investing in the capital markets; and
        </li>
        <li>
          This user needs to be able to legally acknowledge accountability for
          their investment decisions and that investing is associated with risk.
        </li>
      </ul>
    </span>

    <span class="body"> The objective of Wavy for the Bad Investor: </span>

    <span class="body">
      <ul>
        <li>
          Develop this user into a Learner investor and ideally further their
          development so that they become an Experienced investor;
        </li>
        <li>Help them build good sustainable investing habits; and</li>
        <li>
          Assist them in building well thought out and sustainable investment
          portfolios.
        </li>
      </ul>
    </span>
  </span>

  <span class="final-block-space"></span>

  <!--last span in the column-->
</span>
