<span class="media-box">
  <span class="left">
    <span class="top">
      <span class="tagline">Public Opinion</span>
      <span class="subheading">Media Features</span>
    </span>
  </span>

  <!--second row-->
  <span class="row-two">
    <span class="media-cards-box">
      <span class="two-box">
        <!--card one-->
        <span class="media-card">
          <img
            class="media-image"
            src="../../assets/images/general/MG photo.png"
            alt=""
          />

          <span class="card-content">
            <span class="card-tagline"> Business & Entrepreneurship </span>

            <span class="card-title">
              Recogonised in prestigious Mail & Guardian Top 200 South Africans.
            </span>
          </span>

          <span>
            <button class="card-button">
              <a
                target="_blank"
                href="https://200youngsouthafricans.co.za/munozovepi-gwata-24-2021/"
                >View</a
              >
            </button>
          </span>
        </span>

        <span>
          <span class="media-card">
            <img
              class="media-image"
              src="../../assets/images/general/me at 19.jpeg"
              alt=""
            />

            <span class="card-content">
              <span class="card-tagline"> Investment & Personal Finance </span>

              <span class="card-title">
                Interviewed on National Television at age of 19 to discuss
                investing and personal finance.
              </span>
            </span>

            <span>
              <button class="card-button__hidden">
                <a href="">View</a>
              </button>
            </span>
          </span>
        </span>
      </span>
    </span>
    <span class="media-cards-long-stack">
      <!--she leads africa-->
      <span class="media-rectangle">
        <span class="media-rectangle-left">
          <span class="small-tag"> Business & Personal Finance </span>
          <span class="small-heading">
            Featured in She Leads Africa for my drive for financial inclusion.
          </span>
        </span>

        <span class="media-rectangle-right">
          <span class="button-circle">
            <a
              target="_blank"
              href="https://sheleadsafrica.org/tag/munozovepi-gwata/"
            >
              <mat-icon class="button-circle-arrow"> arrow_right_alt </mat-icon>
            </a>
          </span>
        </span>
      </span>

      <!--Daily Finance-->
      <span class="media-rectangle">
        <span class="media-rectangle-left">
          <span class="small-tag">Personal Finance </span>
          <span class="small-heading">
            Featured in Daily Finance (U.K) as one of South Africa’s top
            personal finance blogs.
          </span>
        </span>

        <span class="media-rectangle-right">
          <span class="button-circle">
            <a
              target="_blank"
              href="https://df.media/these-are-the-top-personal-finance-companies-in-south-africa-2021/"
            >
              <mat-icon class="button-circle-arrow"> arrow_right_alt </mat-icon>
            </a>
          </span>
        </span>
      </span>

      <!--Tedx Talk-->
      <span class="media-rectangle">
        <span class="media-rectangle-left">
          <span class="small-tag">Sustainable Finance & Technology </span>
          <span class="small-heading">
            Invited to deliver a Tedx Talk on inclusive economic growth.
          </span>
        </span>

        <span class="media-rectangle-right">
          <span class="button-circle">
            <a
              target="_blank"
              href="https://www.youtube.com/watch?v=zZ6COXfb_W0&t=184s"
            >
              <mat-icon class="button-circle-arrow"> arrow_right_alt </mat-icon>
            </a>
          </span>
        </span>
      </span>
    </span>
  </span>
</span>
