@use "../../general-styles/" as gs;

.logo {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: gs.$black;
  @include gs.ml;
  text-decoration: none;
}

.logo-link {
  color: gs.$black;
  @include gs.h4;
}
