@use "../../general-styles/" as gs;

.top-menu {
  width: 100%;
  height: auto;
  padding-right: 121px;
  padding-top: 7px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: flex-end;
  justify-content: flex-end;
  cursor: pointer;
  //added
}

.mat-toolbar {
  background-color: transparent;
  box-shadow: none;
  //added
}

.page {
  min-height: 100%;
}

.page-container {
  min-height: 100%;
  width: 100%;
}

.main-menu {
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 121px;
  padding-right: 121px;
  height: auto;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  height: auto;
  cursor: pointer;
  //added
}

.menu-link {
  text-decoration: none;
  color: gs.$black;
  @include gs.ml;
  margin-left: 57px;
}

.button {
  background-color: none;
  color: gs.$white;
  width: 45px;

  &-container {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: gs.$black;
    color: gs.$white;
  }
}

.colored-nav-bar {
  background-image: url("../../../assets/images/general/Background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: gs.$mobile) {
  .menu-link {
    display: none;
  }
}
