@use "../../general-styles/" as gs;

.content-paragraph {
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: gs.$white;
}

.tabs-container {
  flex-direction: column;
  display: flex;
}

.bold {
  font-weight: gs.$bold;
  @include gs.s1;
  margin-bottom: 7px;
  display: flex;
}

.sub-title-format {
  @include gs.s1;
  margin-bottom: 5px;
}

.space {
  display: flex;
  margin-bottom: 15px;
}

.final-block-space {
  display: flex;
  margin-bottom: 30px;
}

.project-tab {
  border: none;
  background-color: gs.$white;
  @include gs.s2;
  color: gs.$dark-lavender;
  display: flex;
  justify-content: flex-start;
  justify-items: flex-start;
  padding: 0;
  cursor: pointer;
  margin-bottom: 25px;

  &:hover {
    color: gs.$soft-pink;
    @include gs.h6;
  }
}

.image-box {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  justify-items: flex-start;
  align-items: center;
  align-content: center;
}

.project-tab-small {
  border: none;
  background-color: gs.$white;
  @include gs.b2;
  color: gs.$dark-lavender;
  display: flex;
  justify-content: flex-start;
  justify-items: flex-start;
  padding: 0;
  cursor: pointer;
  margin-bottom: 15px;
}

.image-internal {
  width: 70%;
  height: fit-content;
  object-fit: fill;
  &:hover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.button-body {
  width: 100%;
  padding: 0px;
  display: flex;
  justify-content: flex-start;
  justify-items: flex-start;
  flex-direction: column;
}

.bold-sub-heading {
  font-weight: gs.$bold;
  @include gs.b1;
  margin-bottom: 5px;
}

br {
  line-height: 15px;
  display: block;
}

.quote {
  font-style: italic;
}

.body {
  margin-right: 121px;
  @include gs.b2;
}

a {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.highlight {
  color: gs.$dark-lavender;
}

@media (max-width: gs.$tablet) {
  .body {
    @include gs.b2;
    margin-right: 20px;
  }
}
