<div class="project-container">
  <span class="content-container">
    <span class="project-number"> 01</span>
    <span class="project-heading"> Should I Invest? </span>
    <span class="project-description">
      So you have always wanted to start building your own investment portfolio.
      However, the process to start has always been just a little too
      intimidating?
    </span>
    <span class="project-description-emphaisis">
      Well not to worry, Wavy is here to help you easily make informed
      investment decisions
    </span>
    <span class="project-subheading"> How? </span>
    <span class="project-description">
      Wavy provides you with a comprehensive summary of the key indicators on
      your investment option, this way you can easily select the right
      investments for you.
    </span>
    <span class="project-button">
      <button class="button-style">View Full project</button>
    </span>
  </span>

  <span class="project-thumbnail"> image to be inserted </span>

  <span class="hide">
    <app-navigation-links></app-navigation-links>
  </span>
</div>
