@use "../../component-styles/home-page/project-thumbnails" as ps;

@use "../../general-styles/" as gs;

a {
  text-decoration: none;
}

.cover-image {
  object-fit: fill;
  width: 370px;
  height: 580px;
}

@media (max-width: gs.$tablet) {
  .cover-image {
    object-fit: fill;
    width: 325px;
    height: 500px;
  }
}
