<span class="content-paragraph">
  <span class="bold"> Title: Score, build your credit score. </span>

  <span class="bold"> Role: UX Researcher and UI Designer. </span>

  <span class="bold"> Timeline: 04 October to 29 October 2021. </span>

  <br />
  <span class="bold-sub-heading"> Problem statement:</span>
  <br />
  <span class="body">
    Score is a designed solution to assist users manage their debt and
    effectively build their credit score. Consumer credit in South Africa is at
    an all time high, as the pandemic worsened many households financial
    pressures. Many South Africans continue to struggle with managing their
    debt, and this year that was emphasised and confirmed by the Consumer
    Default Index of South Africa which shows that debt has surged to R1.9
    trillion. It is clear that this debt is not being well managed as the chief
    data analyst of Experian South Africa confirmed that the rate in which South
    Africans defaulted on their loans substantially increased for the first time
    in the first quarter of this year. The biggest credit products that
    consumers are defaulting on are vehicle loans, credit cards and personal
    loans.
    <br />
    <br />
    Debt, when well managed can be an effective tool that consumers can leverage
    to advance and benefit their personal finances. However, when debt is poorly
    managed which is proving to be the current state of the consumer debt market
    in South Africa, it can have adverse effects for both consumers and the
    economy. The consumers end up compromising the integrity and development of
    their credit scores, and results financial excluding consumers. Financial
    exclusion has detrimental effects on economies as it scales social and
    economic inequality.
    <br />
    <br />
    Score is a mobile application that is designed to namely fight the outcome
    of financial exclusion, and promote and drive financial inclusion by
    offering users with an accessible debt management system, which is
    intentional about assisting the user build their credit score.
  </span>
  <br />
  <br />
</span>
