<span class="content-paragraph">
  <span class="body">
    I think that there was a lot of benefit awarded to this case study given it
    is based on feedback that has cumulated from my six years of experience in
    the personal finance industry. On this note the case study could have been
    further enriched by gathering information from the experience of additional
    professionals in the personal finance sector. This will definitely be
    introduced upon the development of future versions of Wavy.
  </span>

  <span class="final-block-space"></span>
</span>
