<span class="hero-container">
  <span class="hero-container_description">
    <app-tags></app-tags>
    <span class="hero-container_description--tagline"
      >I love to make finance accessible through design and technology.
    </span>

    <span class="hero-container_description--info">
      I have been programming for 8 years for my own financial technology (<span
        class="emphasis"
        >"fintech”</span
      >) products. I have always been interested in design and development and
      started off by using these skills to build websites for friends, small
      businesses and myself. This experience eventually lead to me creating an
      award winning financial education platform, Kukura Capital, which I have
      been running for the last 6 years. The growing success and social impact
      of Kukura Capital motivated me to advance and professionalise my skills as
      a designer and developer, and ultimately explore more ways I can use my
      skills to further global social and economic development.
    </span>
  </span>

  <span class="hero-image">
    <app-muno-image></app-muno-image>
  </span>
</span>
