<div class="project-container">
  <span class="content-container">
    <span class="project-number"> 03</span>
    <span class="project-heading"> Astute, Financially Astute </span>
    <span class="project-description">
      Astuteness is the ability to accurately assess a situation to one’s
      advantage. Astute, allows its users to be financially astute about their
      personal finances.
    </span>

    <span class="project-description">
      Astute, formerly known as Kukura Capital, is a platform that allows users
      to develop their financial literacy so that they can be in full control of
      their personal finances and achieve financial freedom.
    </span>

    <span class="project-subheading"> How? </span>
    <span class="project-description">
      Astute utilises different mediums such as blogs, mobile applications and
      mobile games to distribute financial education.
    </span>

    <span class="project-button">
      <button class="button-style">View Full project</button>
    </span>
  </span>

  <span class="project-thumbnail"> image to be inserted </span>
  <span>
    <app-navigation-links></app-navigation-links>
  </span>
</div>
