<span class="toolbox-container">
  <span class="heading">Favourite Tools in my Toolbox</span>

  <!--icons container-->
  <span class="icons-container">
    <!--first row-->
    <span class="row">
      <!--icons-->

      <!--icon 1-->
      <span class="image-box">
        <span>
          <img
            class="image-box-icon"
            src="../../../assets/images/general/angular.png"
            alt="angular logo"
          />
        </span>
        <span class="image-box-label">Angular 6-12</span>
      </span>

      <!--icon 2-->

      <span class="image-box">
        <span>
          <img
            class="image-box-icon"
            src="../../../assets/images/general/adobe logo.jpeg"
            alt="angular logo"
          />
        </span>
        <span class="image-box-label">Adobe Cloud</span>
      </span>

      <!--icon 3-->
      <span class="image-box">
        <span>
          <img
            class="image-box-icon"
            src="../../../assets/images/general/2048px-Unofficial_JavaScript_logo_2.svg.png"
            alt="angular logo"
          />
        </span>
        <span class="image-box-label">Javascript</span>
      </span>

      <!--icon 4-->
      <span class="image-box">
        <span>
          <img
            class="image-box-icon"
            src="../../../assets/images/general/css.png"
            alt="angular logo"
          />
        </span>
        <span class="image-box-label">CSS</span>
      </span>

      <!--icon 5-->
      <span class="image-box">
        <span>
          <img
            class="image-box-icon"
            src="../../../assets/images/general/Dart-logo.png"
            alt="angular logo"
          />
        </span>
        <span class="image-box-label">Dart</span>
      </span>

      <!--icon 6-->
      <span class="image-box">
        <span>
          <img
            class="image-box-icon"
            src="../../../assets/images/general/flutter-logo-768x768.jpeg"
            alt="angular logo"
          />
        </span>
        <span class="image-box-label">Flutter</span>
      </span>

      <!--first row closes-->
    </span>

    <!--second row-->
    <span class="row">
      <!--icons-->
      <!--icon 1-->
      <span class="image-box">
        <span>
          <img
            class="image-box-icon"
            src="../../../assets/images/general/python.png"
            alt="angular logo"
          />
        </span>
        <span class="image-box-label">Python</span>
      </span>

      <!--icon 2-->

      <span class="image-box">
        <span>
          <img
            class="image-box-icon"
            src="../../../assets/images/general/html logo.png"
            alt="angular logo"
          />
        </span>
        <span class="image-box-label"> HTML </span>
      </span>

      <!--icon 3-->
      <span class="image-box">
        <span>
          <img
            class="image-box-icon"
            src="../../../assets/images/general/mysql.png"
            alt="angular logo"
          />
        </span>
        <span class="image-box-label">MySql</span>
      </span>

      <!--icon 4-->
      <span class="image-box">
        <span>
          <img
            class="image-box-icon"
            src="../../../assets/images/general/sass.png"
            alt="angular logo"
          />
        </span>
        <span class="image-box-label">Sass</span>
      </span>

      <!--icon 5-->
      <span class="image-box">
        <span>
          <img
            class="image-box-icon"
            src="../../../assets/images/general/figma logo.png"
            alt="angular logo"
          />
        </span>
        <span class="image-box-label">Figma</span>
      </span>

      <!--icon 6-->
      <span class="image-box">
        <span>
          <img
            class="image-box-icon"
            src="../../../assets/images/general/Typescript_logo_2020.svg.png"
            alt="angular logo"
          />
        </span>
        <span class="image-box-label">Typescript</span>
      </span>

      <!--the end of the second row-->
    </span>

    <!--third row-->
    <span class="row">
      <!--icons-->
      <!--icon1-->
      <span class="image-box">
        <span>
          <img
            class="image-box-icon"
            src="../../../assets/images/general/milanote.png"
            alt="angular logo"
          />
        </span>
        <span class="image-box-label">Milanote</span>
      </span>
      <!--icon 2-->

      <span class="image-box">
        <span>
          <img
            class="image-box-icon"
            src="../../../assets/images/general/trello.png"
            alt="angular logo"
          />
        </span>
        <span class="image-box-label">Trello</span>
      </span>

      <!--icon 3-->
      <span class="image-box">
        <span>
          <img
            class="image-box-icon"
            src="../../../assets/images/general/uxpin.png"
            alt="angular logo"
          />
        </span>
        <span class="image-box-label">UxPin</span>
      </span>

      <!--icon 4-->
      <span class="image-box">
        <span>
          <img
            class="image-box-icon"
            src="../../../assets/images/general/meiter task.png"
            alt="angular logo"
          />
        </span>
        <span class="image-box-label">Meister Task</span>
      </span>

      <!--icon 5-->
      <span class="image-box">
        <span>
          <img
            class="image-box-icon"
            src="../../../assets/images/general/storybook.png"
            alt="angular logo"
          />
        </span>
        <span class="image-box-label">Storybook</span>
      </span>

      <!--icon 6-->
      <span class="image-box">
        <span>
          <img
            class="image-box-icon"
            src="../../../assets/images/general/react logo.png"
            alt="angular logo"
          />
        </span>
        <span class="image-box-label">React Js</span>
      </span>

      <!--the close of the third row-->
    </span>
  </span>
</span>
