<span class="content-paragraph">
  <span class="body">
    As pointed out in the UX case study, Wavy will have to be developed from a
    lean MVP. In designing the wireframes for the this lean product I wanted the
    design to embrace the spirit of Wavy and also show case its potential.
    <br />
    <br />
    Wavy being such an ambitious product, striking this balance was a process of
    several design revisions and asking third parties what they thought about
    the UI design.
    <br />
    <br />
    The initial design as included below was build from the wireframe also
    include below. The objective was to keep Wavy as simple and minimal as
    possible, but still show case the potential of the product and build on top
    of this perception and design.

    <br />
    <br />

    <span class="image-box">
      <img
        src="../../../../assets/images/wavy/results page.png"
        class="image-internal"
        alt=""
      />
    </span>
    <br />

    However, I felt that the initial product design did not truly reflect the
    innovation that Wavy yields. So back to the drawing board.

    <br />
  </span>
  <br />
  <span class="body">
    The first and most visible change is the colour palette. As much as people
    loved the colour palette in the feedback that I received, I strongly felt
    that it needed to be bolder to reflect the confidence the platform is aiming
    to install in its users. I therefore went for a much bolder colour scheme
    developing from the original colour selection.
    <br />
    <br />
  </span>

  <!--image compare changes-->

  <span class="image-box">
    <img
      src="../../../../assets/images/wavy/color change.png"
      class="image-internal"
      alt=""
    />
  </span>

  <span class="body">
    The second noticeable change in the design is the results page. I felt that
    the initial design of the results page was not reflected of how powerful the
    Wavy platform is in digesting huge volumes of financial data to provide the
    user with the necessary financial information.
    <br />
    <br />
  </span>

  <!--the results page dev-->
  <span class="image-box">
    <img
      src="../../../../assets/images/wavy/learning page.png"
      class="image-internal"
      alt=""
    />
  </span>

  <span class="body">
    Following from this I felt that the same message had to be carried through
    the initial Wavy learning pages. It is not uncommon for financial technology
    platforms to default to a glossary page to distribute information, as this
    is the most reliable way to package a lot of information in a neat manner.
    However, I wanted the design to tell a story even with the learning
    materials on the platform.
    <br />
    <br />
  </span>

  <!--the learning pages-->

  <span class="body">
    It is for this reason that the learning pages were further amended to
    correspond with the results page. Replicating the flow of the logic in the
    results page with that in the learning pages in my views strengthens the
    financial information and allows the user to be more receptive in adopting
    the financial principles being taught.
    <br />
    <br />
  </span>

  <span class="body">
    These were key things considered in the revision of the UI design for the
    Wavy MVP.
  </span>
  <span class="final-block-space"></span>
</span>
