<span class="content-paragraph">
  <span class="body">
    From the user research the following principles have been identified as
    critical to the overall design process:
  </span>
  <br />

  <span class="highlight body">Accessibility </span>
  <span class="body">
    The fundamental focus of Wavy is to make the capital markets accessible.
    This has to be an intentional design that is represented in the design of
    Wavy, along with the language and all the components that make it.
  </span>
  <br />

  <span class="highlight body"> Responsibility </span>

  <span class="body">
    Wavy has a duty to put in place the necessary protocols and guide the user
    through its design to make responsible investment decisions. At no stage
    should Wavy encourage or facilitate reckless investing where it can be
    avoided.
  </span>
  <br />

  <span class="highlight body"> Financial literacy </span>

  <span class="body">
    The main focus and objective of Wavy is to develop the user’s financial
    literacy so that they are able to increase and develop their understanding
    of investing. This proves to be very beneficial as it serves as an effective
    tool for risk management for the user and the platform.
  </span>
  <br />

  <span class="highlight body"> Risk Management </span>

  <span class="body">
    It is key for the users to be protected from avoidable risks, such as by
    providing credible financial information. It is paramount to teach the users
    on how to protect their investments, and manage risk and any potential
    losses in the most effective way. Furthermore, there is a duty of Wavy to
    ensure at all times that user information is secured and remains
    confidential.
  </span>
  <br />

  <span class="highlight body"> Accountability </span>

  <span class="body">
    Wavy, to its best ability aims to protect the user and guide them to make
    responsible investing decisions. It is important that the user retains
    accountability. The user must still be aware of their accountability in the
    financial decisions that they choose as the decisions fully depend on them.
  </span>
  <br />

  <span class="highlight body"> Credibility </span>
  <span class="body">
    In order for many of the above mentioned principles to take effect, it is
    important that the platform remains credible. Without credibility being
    associated with the platform, it will be rendered ineffective. In order for
    many of the above mentioned principles to take effect, it is important that
    the platform remains credible. Without credibility being associated with the
    platform, it will be rendered ineffective.
  </span>
  <br />

  <span class="highlight body"> Understanding the User </span>
  <span class="body">
    It will be very important through objective metrics to identify the profile
    for the user. This will be important to manage the risk and expectations of
    the user through the design of the platform., Through this knowledge, the
    platform is able to remain flexible and adaptable. In addition, knowing the
    user allows us to know the scope and the parameters the platform can offer,
    and this will result in Wavy maintaining its integrity.
  </span>
  <br />

  <span class="highlight body"> Integrity & Transparency </span>
  <span class="body">
    It is very important that Wavy maintains its integrity at all times.
    Transparency goes hand in hand with protecting integrity. Trust in the
    product will safeguard its integrity.
  </span>
  <br />

  <span class="highlight body"> Efficiency </span>
  <span class="body">
    It is very important that user experience for the investing process is
    always efficient. The process can be automated to aid the signing up,
    verification, deposit and withdrawal. The principle of efficiency alike the
    above mentioned principles is guided and influenced by the other principles.
    Efficiency will never be at the expense of the credibility and integrity of
    the platform.
  </span>
  <br />

  <span class="highlight body"> Impact </span>

  <span class="body">
    It is important that Wavy achieves its main objectives as this will warrant
    the impact that it is aiming for. The impact will be measured in accordance
    with how much improvements and economic growth is achieved as a result of
    Wavy.
  </span>

  <span class="final-block-space"></span>
</span>
