<span class="content-paragraph">
  <span class="body">
    With full regard of the findings that were extracted from the UX case study
    the following design requirements have been identified as essential for
    Score:
  </span>
  <span class="body">
    <ul>
      <li>
        A feature that allows users to ask any questions they may have about
        debt and credit scores;
      </li>
      <li>
        A feature that provides the user to develop an understanding of debt
        fundamentals;
      </li>

      <li>
        A feature that helps the user feel calm and in control of their personal
        finances, irrespective of the status of their personal finances;
      </li>
      <li>
        A feature that allows the user to remain confident that their data is
        safe and remains confidential;
      </li>
      <li>
        A feature that allows the user to track their progress as it relates to
        debt management and improving their credit score;
      </li>
    </ul>
  </span>

  <br />
  <br />

  <span class="sub-heading highlight">
    Fundamental Design Requirement For Score.
  </span>

  <span class="small-space"></span>

  <span class="bold-sub-heading">
    Nurturing and accepting the relationship between money and emotions through
    design.
  </span>
  <span class="small-space"></span>

  <span class="body">
    A common trend in Fintech UI design, is an acceptance that money influences
    the users emotions ,and therefore the design of the Fintech product needs to
    be well positioned to mediate and manage this relationship. A common way to
    do this is to humanise and socialise Fintech apps with emoji’s and pop up
    messages and alerts that actively manage the emotions of the user. These
    features have been included in the design of Score.
  </span>
  <br />
  <br />

  <span class="image-box">
    <img
      class="image-internal"
      src="../../../../assets/images/wavy/Group 104.png"
      alt=""
    />
  </span>
  <br />
  <br />
  <span class="body">
    Furthermore, the selected colours and typography included in the design are
    strategic, so that Score can successfully keep the users motivated and calm
    throughout their experience with Score.
  </span>
  <br />
  <iframe
    style="border: 1px solid rgba(0, 0, 0, 0.1)"
    width="800"
    height="450"
    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FfEgny77ONeZJEWAqaNd6jz%2FAstute%3Fnode-id%3D77%253A2565"
    allowfullscreen
  ></iframe>

  <br />
</span>
