@use "../../general-styles/" as gs;

.contact-container {
  width: 100%;
  display: flex;
  background-color: gs.$white;
  justify-content: center;
  justify-items: center;
  margin-top: 15px;
  padding: 15px;
  align-items: center;
  align-content: center;
  margin-bottom: 35px;
}

.form-box {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-between;
  justify-items: space-between;
  height: 665px;
  background-color: gs.$main-lavender;
  padding: 50px;
  color: gs.$dark-lavender;
}

.heading {
  @include gs.h4;
  margin-bottom: 50px;
}

.input-row {
  display: flex;
  margin-bottom: 50px;
  width: 100%;
  justify-content: space-between;
  justify-items: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: space-between;
  height: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: space-between;
  background-color: gs.$white;
  width: 350px;
  padding: 10px;

  &-email {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: space-between;
    background-color: gs.$white;

    padding: 10px;
    width: 100%;
  }

  &-message {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: space-between;
    background-color: gs.$white;
    height: 200px;
    padding: 10px;
    width: 100%;
  }
}
.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  justify-items: flex-end;
}

input {
  border: none;
}

input:focus {
  outline: none;
  border: none;
  text-decoration: none;
}
