<span class="contact-container" id="contact form">
  <span class="form-box">
    <span class="heading"> Get in touch </span>
    <span class="form">
      <form action="https://formsubmit.co/muno.gwata@gmail.com" method="POST">
        <span class="input-row">
          <span class="input-container">
            <label for="name">Name</label>
            <input type="text" name="name" required />
          </span>

          <span class="input-container">
            <label for="name">Surname</label>
            <input type="text" name="Surname" />
          </span>
        </span>

        <span class="input-row">
          <span class="input-container-email">
            <label for="name">Email Address</label>
            <input type="email" name="email" />
          </span>
        </span>

        <span class="hidden">
          <input type="hidden" name="_captcha" value="false" />
          <input
            type="hidden"
            name="_subject"
            value="New submission from personal website!"
          />
        </span>

        <span class="input-row">
          <span class="input-container-message">
            <label for="name">Message</label>
            <input
              class="message-input"
              type="text"
              name="message"
              required
              placeholder="Hello I would love to work together."
              maxlength="100"
            />
          </span>
        </span>

        <span class="button-container">
          <button id="button" class="slim-button" type="submit">Submit</button>
        </span>
      </form>
    </span>
  </span>
</span>
