<span class="content-paragraph">
  <span class="bold"> Title: Wavy, Should I Invest in? </span>

  <span class="bold"> Role: User Experience Researcher and User </span>

  <span class="bold">
    Timeline to Develop MVP: 29 October 2021 - 05 December 2021.
  </span>

  <span class="space"></span>

  <span class="body">
    Wavy is a web application that allows users to build a profitable investment
    portfolio.
  </span>

  <span class="space"></span>

  <span class="bold-sub-heading"> How? </span>

  <span class="space"></span>

  <span class="body">
    Wavy allows users to identify which listed investment products best suits
    their financial objectives. All the user has to do is search the investment
    product that they wish to learn more about. With A simple Wavy search users
    will be provided with, the average annual return, the risk profile,
    potential dividend earnings, the potential tax implications and the expected
    performance of the searched financial product. Furthermore, they will also
    be provided with the potential returns they can expect from the product. All
    this information gives the user access to fundamental information about
    listed financial products, that will empower them in making informed
    investment decisions. Wavy is designed to function as the leading platform
    that aids in transforming everyday consumers into knowledgeable capital
    market investors.
  </span>

  <span class="space"></span>

  <span class="final-block-space"></span>
</span>
