<span class="page-container">
  <!--column 1-->
  <span class="navigation-column">
    <span class="project-number"> 04</span>
    <span class="project-heading"> Get to know me - Personal Website </span>

    <!--Introduction Tab-->
    <span class="tab-label-box">
      <button class="tab-label-false button-false">Introduction</button>
    </span>

    <span class="final-block"> </span>
    <!--end of the navigation menu-->
  </span>

  <!--column 2-->
  <!--the project content-->

  <span class="project-content">
    <span class="project-number-false"> 01</span>
    <span class="project-heading-false"> Should I Invest? </span>

    <!--Intro -->

    <span class="content">
      <span class="content-paragraph">
        <span class="bold"> Title: Get to know me - Munozovepi.com </span>

        <span class="bold">
          Role:UI Designer, Product Manager, Web Developer, and Copy Writer.
        </span>

        <span class="bold">
          Timeline: 27 December 2021 to 04 February 2022.
        </span>

        <span class="space"></span>

        <span class="bold-sub-heading highlight"> Objectives </span>

        <span class="space"></span>

        <span class="body">
          Designing my own personal website that serves as a digital curriculum
          vitae (“CV”) that supplements my Linkedin profile and standard CV, as
          it is able to go into more detail about the vast experience I have
          gained in projects that I have developed and completed.
          <br />
          <br />
          I want the website to be representative of my skills set and what
          value I add to any team and company, particularly as it relates to
          product development, which is the role I believe is most compatible
          with my experience and skill set.
          <br />
          <br />
          Furthermore, I believe that it is important that personality and
          creativity really shine through my personal website. Lastly, it is
          important that the design of the website is seamless and easy to
          navigate through. In addition, it is important that all viewers of my
          website are able to instantly develop a solid and accurate
          representation of my values, work ethic and ambition within a few
          seconds of browsing my website.
          <br />
        </span>

        <span class="space"></span>

        <span class="bold-sub-heading highlight"> Design Principles </span>

        <span class="body">
          <ol type="1">
            <li>
              Grab and retain the attention of the viewers within in a few
              seconds of them accessing the website.
            </li>
            <li>Clearly outline the job roles and experience that I have.</li>
            <li>
              Clearly demonstrate what distinguishes me from other candidates.
            </li>
            <li>
              Clearly show my commitment to high quality work and attention to
              details.
            </li>
          </ol>
        </span>

        <span class="space"></span>

        <span class="bold-sub-heading highlight"> Design Requirements </span>

        <span class="body">
          <ol type="1">
            <li>Easy access to the projects that I am showcasing;</li>
            <li>
              Reference to my professional accounts such as LinkedIn and Github;
              and
            </li>
            <li>An easy way to get in touch with me as needed.</li>
          </ol>
        </span>
        <span class="space"></span>

        <span class="bold-sub-heading highlight">
          Design Process & UI Design Files
        </span>

        <span class="body">
          I used a mood board that I created with Milanote to get an idea of the
          aesthetic and user interface I am trying to achieve with my personal
          website.
          <br />
          <br />

          From the Moodbaord I started to build out the cornerstones of my
          design system, the colour scheme and the typography.
        </span>

        <br />

        <span class="body">
          <iframe
            style="border: 1px solid rgba(0, 0, 0, 0.1)"
            width="800"
            height="450"
            src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FVRRMlDZF6ReITWQ2pgDy1f%2FPersonal-Website%3Fnode-id%3D256%253A726"
            allowfullscreen
          ></iframe>
        </span>
        <br />

        <span class="body">
          I then proceed to design the website expanding from the wireframe that
          I sketched out on paper.
          <br />
          <br />
          I loved the initial design, but I believe that I could benefit from
          having less features, in light of my design principles for this
          project, particularly that of grabbing the user’s attention in a few
          seconds. Too strike a balance between enough information and a simple
          user interface, I provided users with the opportunity to sign up to my
          monthly newsletter. The newsletter is included in the final design of
          the website but has not been included in the current version of the
          website. This is because I am currently drafting the privacy policy
          and ensuring all data, such as the emails received through my personal
          website is managed and secured in accordance to statutory requirements
          and best practices.
        </span>
        <br />
        <span class="body">
          In addition, I want to custom design the newsletter backend and
          frontend. Therefore all tasks relating to the development of the
          newsletter are in the project backlog.
        </span>

        <span class="final-block-space"></span>
      </span>
    </span>
  </span>
</span>
