@use "../../../component-styles/website/project-details" as ps;

.ee {
  text-decoration: underline;
}

.shu {
  text-decoration: underline;
}

.sh {
  text-decoration: underline;
}

.fc {
  text-decoration: underline;
}

.rd {
  text-decoration: underline;
}

.as {
  text-decoration: underline;
}
