<span class="page-container">
  <!--column 1-->
  <span class="navigation-column">
    <span class="project-number"> 01</span>
    <span class="project-heading"> Should I Invest? </span>
    <!--Introduction Tab-->
    <span class="tab-label-box">
      <button
        class="tab-label"
        (click)="toggleButton()"
        [ngClass]="{ active: showMe == true }"
      >
        Introduction
      </button>
    </span>
    <span class="tab-heading"> User Experience Case Study </span>

    <!--Problem Statement Tab-->
    <span class="tab-label-box">
      <span class="tab-label">
        <button
          (click)="toggleProblemStatement()"
          class="tab-label"
          [ngClass]="{ problemstatement: selectedProblemStatement == true }"
        >
          Problem Statement
        </button>
      </span>
    </span>

    <span class="tab-label">
      <button>The Objectives of Wavy</button>
    </span>
  </span>

  <!--column 2-->
  <span class="project-content">
    <span class="project-number-false"> 01</span>
    <span class="project-heading-false"> Should I Invest? </span>
    <span *ngIf="showMe" class="content">
      <app-introduction> </app-introduction>
    </span>
    <span *ngIf="selectedProblemStatement" class="content">
      <app-problem-statement></app-problem-statement>
    </span>
  </span>
</span>
