<span class="content-paragraph">
  <span class="body">
    The methodology I used to conduct this user research was to engage in
    interviews with people in my network, and ask them on the experiences,
    opinion and perspectives on debt management and building a credit score.
    <br />
    <br />
    In doing this research I tried to ask each person whose true identities have
    been kept confidential and instead signed to a persona, the same set of
    questions. The following questions that I asked are:
  </span>
  <br />
  <span class="body">
    <ul>
      <li>What is their current understanding of credit scores?</li>
      <li>What their age?</li>
      <li>What is their highest academic qualification?</li>
      <li>What is their profession?</li>
      <li>
        How do they use technology in their life’s to manage their personal
        finances?
      </li>
    </ul>
  </span>
  <br />

  <span class="highlight body">
    I choose these specific questions because I believed they would be most
    effective in providing the necessary information to design a product that
    has a good user experience which speaks to the needs of the target audience.
    To further achieve this target after each interview with the users I
    consolidates what I found to be their main pain points. This way it would be
    easier to identify common themes and patterns from the user research.
  </span>
  <br />

  <span class="bold"> Meet the Personas </span>
  <br />

  <!--meet Klara-->
  <span class="tabs-container">
    <span class="body">
      <button
        [ngClass]="{ kl: selectedKlara == true }"
        type="button"
        class="project-tab"
        (click)="toggleKlara()"
      >
        Klara
      </button>
    </span>
  </span>

  <!--Klara content-->
  <span *ngIf="selectedKlara" class="body">
    <span class="body">
      <span class="highlight body-bold">
        Current perception and understanding of credit scores:
      </span>
      <br />
      <br />

      <span class="body">
        Klara is of the strong view that credit scores are a "
        <span class="quote">scam</span>
        ”. She believes that credit scores are too much work to figure out and
        understand. Klara has no idea where to start when it comes to finding
        out about her current credit score, yet alone on how to build her credit
        score. Furthermore, Klara does not have any credit at the moment and
        relies on her savings and income to cover her expenses. As a result she
        is very limited in what she owns and does not have any “big purchase
        items” such as a car, house etc…, even though she is considered a high
        earner.
      </span>
      <br />
      <br />
      <span class="body"> Age: 25 </span>
      <br />
      <br />
      <span class="body"> Education level: MBBCh degree </span>
      <br />
      <br />
      <span class="body"> Profession: Junior doctor </span>
      <br />
      <br />

      <span class="body"> Relationship with technology and finance </span>
      <br />
      <br />
      <span class="body">
        Klara uses her smartphone daily, but does not have much experience with
        money management apps and has not attempted to use them in the past. She
        relies on making money estimations on scraps of paper that often go
        missing, and therefore make it hard for her to track and manage the
        development of her personal finances. When she runs into banking issues
        her preference is to go to her nearest bank branch, if she cannot do
        this she will call her bank, but she finds this to be very ineffective.
      </span>

      <span class="body">
        <br />
        <br />
        <span class="body highlight"> Main Pain Points: </span>

        <ul>
          <li>
            She finds it overwhelming to manage and build her credit score due
            to a lack of understanding of debt principles and easily accessible
            products that can guide and assist her in this regard;
          </li>
          <li>
            She is unaware of personal finance management mobile applications
            that are on the market; and
          </li>
          <li>She has a lack of financial literacy.</li>
        </ul>
      </span>
      <br />
      <br />
    </span>
  </span>

  <!--meet Karabo-->
  <span class="tabs-container">
    <span class="body">
      <button
        [ngClass]="{ ka: selectedKarabo == true }"
        type="button"
        class="project-tab"
        (click)="toggleK()"
      >
        Karabo
      </button>
    </span>
  </span>

  <!--Karabp content-->
  <span *ngIf="selectedKarabo" class="body">
    <span class="body">
      <span class="highlight body-bold">
        Current perception and understanding of credit scores:
      </span>
      <br />
      <br />

      <span class="body">
        Karabo has credit products that she uses in her everyday life such as
        her credit card, a car loan; and access to a credit facility account.
        However, she is not sure what her current credit score is and how to
        find out. She relies on credit loan calculators and the assessment
        questions to assess if she potentially qualifies for credit. Karabo
        would now like to purchase a house and wants to make sure that her
        credit score will not prohibit her from qualifying for a good home loan.
        She does not know what credit score she needs to qualify for a home
        loan, and what, if anything, will be required for her to ensure that she
        attains the desired credit score ahead of time.
      </span>
      <br />
      <br />
      <span class="body"> Age: 31 </span>
      <br />
      <br />
      <span class="body"> Education level: LLB degree </span>
      <br />
      <br />
      <span class="body"> Profession: Attorney </span>
      <br />
      <br />

      <span class="body"> Relationship with technology and finance </span>
      <br />
      <br />
      <span class="body">
        Karabo is married and has two children, and relies on her credit
        products in the case of an emergency. She is not overly indebted but
        would like to optimise her credit usage to her advantage. She is not
        familiar with online credit management products outside of loans
        calculators and her banking app, which neither actively assist her with
        managing her debt or building her credit score. She mostly tracks her
        personal finances using her banking app through her smartphone. However,
        she finds the tools offered by banking ads to be very limited.
        Furthermore, she pointed out that most tools offered by banks are not
        included in their mobile applications and can only be accessed from
        their websites. She would prefer if these features could all be easily
        accessible on one platform such as an app. Karabo, also suggested that
        it would be good that any debt management app also facilitates learning
        and developing an understanding between debt and credit scores.
      </span>
      <br />
      <br />

      <span class="body">
        <span class="body highlight"> Main Pain Points: </span>
        <br />
        <br />
        <ul>
          <li>Not knowing how to access information about her credit score;</li>
          <li>
            Finding access to a platform that has a comprehensive set of
            features that will help her manage her personal finances; and
          </li>
          <li>
            Not knowing what techniques she can use to rapidly build her credit
            score.
          </li>
        </ul>
      </span>
      <br />
      <br />
    </span>
  </span>

  <!--meet Johan-->
  <span class="tabs-container">
    <span class="body">
      <button
        [ngClass]="{ jo: selectedJohan == true }"
        type="button"
        class="project-tab"
        (click)="toggleJo()"
      >
        Johan
      </button>
    </span>
  </span>

  <!--Johan content-->
  <span *ngIf="selectedJohan" class="body">
    <span class="body">
      <span class="highlight body-bold">
        Current perception and understanding of credit scores:
      </span>
      <br />
      <br />

      <span class="body">
        Johan is fully aware of the importance of a good credit score given his
        financial background as a BCom student. However, whilst Johan was still
        starting out as a young professional he incurred a lot of debt to help
        transition into adult life. He has since had an increase in his income
        and wishes to focus on building his credit score and personal wealth. He
        has used tools like Clear Score to track his credit score and he also
        appreciates that Clear Score makes credit offerings to its users. He
        however, believes that he still does not have a convenient way to get a
        comprehensive overview of his debt in order to effectively start
        building his credit score. He found that Clear Score does not have a
        comprehensive enough set off features for him to aggressively manage his
        debt and build the perfect credit score.
      </span>
      <br />
      <br />
      <span class="body"> Age: 27 </span>
      <br />
      <br />
      <span class="body"> Education level: MCom Investment Management </span>
      <br />
      <br />
      <span class="body"> Profession: Investment Banker </span>
      <br />
      <br />

      <span class="body"> Relationship with technology and finance </span>
      <br />
      <br />
      <span class="body">
        Johan is aware of the available online tools that can help him identify
        his current credit score. However, he does not find these tools to be
        effective for debt management and therefore often relies on excel
        spreadsheets to track his debts manually. That said he finds that
        manually managing his debts is a time consuming and limiting process.
      </span>

      <span class="body">
        <br />
        <br />
        <span class="body highlight"> Main Pain Points: </span>

        <ul>
          <li>
            There is not a consolidated platform that allows the user to review
            his credit score, and existing debts and automatically manage all
            his debts.
          </li>
        </ul>
      </span>
      <br />
      <br />
    </span>
  </span>

  <!--meet Raj-->
  <span class="tabs-container">
    <span class="body">
      <button
        [ngClass]="{ raj: selectedRaj == true }"
        type="button"
        class="project-tab"
        (click)="toggleRaj()"
      >
        Raj
      </button>
    </span>
  </span>

  <!--Raj content-->
  <span *ngIf="selectedRaj" class="body">
    <span class="body">
      <span class="highlight body-bold">
        Current perception and understanding of credit scores:
      </span>
      <br />
      <br />

      <span class="body">
        Raj has a good understanding of the importance of a good credit score.
        He has managed to build one over the years by practicing good debt
        habits. He does not use any applications to help manage and track his
        debts. When he wants advice on debt management strategy based on his
        historical data he consults his private banker. Raj said that he is
        unaware of digital products that can help him manage his personal
        finance. More so he questions how accurate digital debt management
        products would be.
        <br />
        <br />
        Raj emphasised that when he needs financial advice and to check his
        credit score he asks through the assistance of his private banker, who
        he has access to through his private banking account. He said that as
        much as he likes this service he would like to have readily available
        data about his debt without having to wait for a consultation with his
        banker. He further added that he would only consider the use of an
        alternative product under the provision that he was guaranteed that his
        data stayed secure and accurate. He wants to be able to track his credit
        score more regularly as he wishes to become a property investor and in
        order to leverage the best financing solutions for this venture he will
        need to ensure his credit score stays strong.
      </span>
      <br />
      <br />
      <span class="body"> Age: 38 </span>
      <br />
      <br />
      <span class="body"> Education level: BCom Honours Accounting </span>
      <br />
      <br />
      <span class="body"> Profession: Business owner </span>
      <br />
      <br />

      <span class="body"> Relationship with technology and finance </span>
      <br />
      <br />
      <span class="body">
        Raj is aware of banking and other apps of a similar note, however, he
        does not rely too much on banking apps out of the concern that his data
        will be compromised by using this apps and it would make him more
        vulnerable to scammers. More so Raj is also concerned with his
        information being shared and used by third parties without his consent.
      </span>

      <span class="body">
        <br />
        <br />
        <span class="body highlight"> Main Pain Points: </span>

        <ul>
          <li>
            The user has a distrust of financial mobile apps out of concern of
            being hacked, or experiencing a fatal data breach.
          </li>
        </ul>
      </span>
      <br />
      <br />
    </span>
  </span>

  <!--meet Jabu-->
  <span class="tabs-container">
    <span class="body">
      <button
        [ngClass]="{ jab: selectedJabu == true }"
        type="button"
        class="project-tab"
        (click)="toggleJa()"
      >
        Jabu
      </button>
    </span>
  </span>

  <!--Jabu content-->
  <span *ngIf="selectedJabu" class="body">
    <span class="body">
      <span class="highlight body-bold">
        Current perception and understanding of credit scores:
      </span>
      <br />
      <br />

      <span class="body">
        Jabu wished to build his credit score as a young professional to lay out
        the necessary financial foundation for his 30s. Jabu is aware of the
        importance of a good credit score and how this can influence his
        financial prospects. He however, is not sure on where to start when it
        comes to building a good credit score. He currently is still paying off
        a student loan and is very reserved about taking on any further debt,
        and just wishes to settle existing debt (his student loan). By the age
        of 30 he wants to have an excellent credit score and be in a good
        financial position to take on a mortgage, of which he also has
        reservations about because he does not want to be over indebted at any
        point in his life. Even though he is a good earner, Jabu fears being
        sucked into the dark rabbit hole that can be bad debt. Jabu would want
        to learn more about the benefits and drawbacks of credit and how to
        manage it and how to effectively leverage debt to advance his personal
        interests.

        <br />
        <br />

        <span class="body"> Age: 26 </span>
        <br />
        <br />
        <span class="body"> Education level: BSc Computer Science </span>
        <br />
        <br />
        <span class="body"> Profession: Software Engineer </span>
        <br />
        <br />

        <span class="body"> Relationship with technology and finance </span>
        <br />
        <br />
        <span class="body">
          Jabu does use banking apps on his smartphone, however he only uses
          them to make payments, and to transfer and receive money. His unaware
          of any mobile applications that assist with developing a better
          understanding of credit and building a better credit score.
        </span>

        <span class="body">
          <br />
          <br />
          <span class="body highlight"> Main Pain Points: </span>

          <ul>
            <li>He has a a fear of debt; and</li>
            <li>
              He does not have a good understanding of the difference between
              good debt and bad debt, and as a result he is reluctant to take
              out debt.
            </li>
          </ul>
        </span>
        <br />
        <br />
      </span>
    </span>
  </span>

  <!--meet ZAkiyah-->
  <span class="tabs-container">
    <span class="body">
      <button
        [ngClass]="{ zak: selectedZakiyah == true }"
        type="button"
        class="project-tab"
        (click)="toggleZakkiyah()"
      >
        Zakiyah
      </button>
    </span>
  </span>

  <!--ZAkiyah content-->
  <span *ngIf="selectedZakiyah" class="body">
    <span class="body">
      <span class="highlight body-bold">
        Current perception and understanding of credit scores:
      </span>
      <br />
      <br />

      <span class="body">
        Zakiyah is currently a post graduate student and works a part time job
        as a university tutor. She is keen on working towards building her
        credit score, even if it is in subtle ways. She appreciates the
        importance of a good credit score, particularly as she wants to get a
        car loan once she finishes university. With this in mind she appreciates
        that in order to qualify for the loan she will need a decent credit
        score, preferably a good credit score.
        <br />
        <br />

        Zakiyah said she would like to have a better understanding of how a
        credit score is built and how it impacts her personal finances. She says
        it has been difficult to find a consolidated platform which efficiently
        conveys the necessary information that is required to understand how to
        build a credit score. She has never taken out a loan and is intimidated
        by the prospect, primarily because she does not want to do anything that
        may jeopardise her current credit score, of which she is unaware as to
        what it currently is. She says she needs credible information to be able
        to make any decisions about any debt or credit products.

        <br />
        <br />

        <span class="body"> Age: 23 </span>
        <br />
        <br />
        <span class="body"> Education level: Graduate student </span>
        <br />
        <br />
        <span class="body"> Profession: University tutor </span>
        <br />
        <br />

        <span class="body"> Relationship with technology and finance </span>
        <br />
        <br />
        <span class="body">
          Zakiyah likes to read financial blogs and learn more about her
          personal finances. However, she would prefer if there was a credible
          single platform that can assist her in making decisions about her
          personal finances. She often finds it overwhelming to filter through
          the sea of financial blogs and extract actionable steps from these
          sources. She has a banking app which she uses. She emphasised that she
          only uses this app when she really needs to because she is not a fan
          of the UI experience and does not think it aids her in developing her
          personal finance and finance literacy. Zakiyah did mention that she is
          aware of apps like Mint in the USA and wishes we could have an
          equivalent app in South Africa, which gives a holistic overview of her
          personal finances.
        </span>

        <span class="body">
          <br />
          <br />
          <span class="body highlight"> Main Pain Points: </span>

          <ul>
            <li>She is overwhelmed by the different source material; and</li>
            <li>
              She is unable to find actionable steps that she can follow which
              will help her build her credit score
            </li>
          </ul>
        </span>
        <br />
        <br />
      </span>
    </span>
  </span>

  <!--meet Th-->
  <span class="tabs-container">
    <span class="body">
      <button
        [ngClass]="{ th: selectedThabo == true }"
        type="button"
        class="project-tab"
        (click)="toggleThabo()"
      >
        Thabo
      </button>
    </span>
  </span>

  <!--Thabo content-->
  <span *ngIf="selectedThabo" class="body">
    <span class="body">
      <span class="highlight body-bold">
        Current perception and understanding of credit scores:
      </span>
      <br />
      <br />

      <span class="body">
        Thabo is still in the early stages of his career and does not earn a lot
        of money to fully cover his living expenses. He tries to save as much as
        he can but feels he needs to use credit to supplement his income. He is
        very concerned on how this is affecting his credit score. Thabo wants to
        take control of his credit score by utilising what he has heard is
        called “good debt”. Thabo wants to start using credit to invest in
        projects that will increase his income streams. As keen as Thabo is, he
        is very concerned on how he can build his credit score given his
        dependency on credit and his limited income. He’s really looking for
        reliable advice to help him manage his debt. However, he does not want
        to approach professional debt advisors because he does not want to deal
        with the embarrassment of asking for help. He wishes he had the
        necessary financial literacy skills that would have given him the right
        footing to build his credit score.
      </span>
      <br />
      <br />
      <span class="body"> Age: 24 </span>
      <br />
      <br />
      <span class="body"> Education level: BA Honours English </span>
      <br />
      <br />
      <span class="body"> Profession: Journalist </span>
      <br />
      <br />

      <span class="body"> Relationship with technology and finance </span>
      <br />
      <br />
      <span class="body">
        Thabo has several bank accounts with different banks, his reason for
        this, is that this allowed him to maximise his access as many credit
        products. He manages his finances through the corresponding bank apps.
        Thabo says the bank apps are the only access his has to what is
        happening with his personal finances. With this said, he feels that they
        are not sufficient in aiding him in managing his personal finances,
        particularly his debt. He says his is not fully aware of his current
        financial position and waits for debit orders to be paid out and then he
        makes the remainder of his financial decisions for the month following
        from these monthly deductions.
        <br />
        <br />
        Furthermore, Thabo has said that he would like there to be a better way
        to manage his debit orders as he is constantly concerned that he will
        miss a payment at the expense of his credit score. He would like to have
        a full consolidated view of all his debts but is unaware of any app that
        can assist him with this. He also does not know how to check his credit
        score outside of the scope of his bank, which he has to enquire through
        a series of telephone calls.
      </span>

      <span class="body">
        <br />
        <br />
        <span class="body highlight"> Main Pain Points: </span>

        <ul>
          <li>He feels overwhelmed by the amount of debt that he has;</li>
          <li>
            He has associated debt with shame and therefore cannot get access to
            assistance; and
          </li>
          <li>
            He has a fear of debt and is deeply concerned as to how it may have
            “permanently” ruined his credit score and which he thinks he will
            not be able to repair.
          </li>
        </ul>
      </span>
      <br />
      <br />
    </span>
  </span>
</span>
