<span class="about-hero-container">
  <span class="background">
    <span class="content-box">
      <span class="tags-box">
        <span class="two-tags">
          <span class="tags"> Product Designer </span>
          <span class="tags"> UI / UX Designer </span>
        </span>

        <span class="two-tags">
          <span class="tags">UX / UI Engineer</span>
          <span class="tags"> Frontend Developer </span>
        </span>
      </span>
      <span class="tagline">
        I love to make finance accessible <br />
        through design and technology.
      </span>
    </span>
  </span>
  <span class="muno-image-box">
    <app-about-muno-image></app-about-muno-image>
  </span>
</span>
