<span>
  <app-hero-about> </app-hero-about>
  <span class="about-box">
    <span class="ab-1">
      <span class="heading">You can call me Muno</span>
      <span class="description">
        I was born in 1997, the same year Steve Jobs returned to Apple. I have
        grown up in different countries ranging from Florida, USA; to Nairobi,
        Kenya, and I am now based in Sunny South Africa.
        <br />
        <br />
        As long as I can remember, I have always had a dualistic interest in
        science, technology, engineering and mathematics (“
        <span class="emphasis">STEM</span>”) and design, however I never knew
        how to pair these two interests together. The fact society likes to
        juxtapose STEM and creativity did not help either. Therefore, deciding
        what to study at university was tricky, all I knew for sure is that I
        wanted to make a positive impact in the world. With this in mind, at the
        naive age of 16, I thought studying law would be a good idea.

        <br />
        <br />
        Following the completion of my LLB from the University of Pretoria, I
        underwent two years of legal training in a Big Law Firm in South Africa.
        I call this my “Kafka period”, after the iconic Franz Kafka, this is
        because I think we share a similar perspective in regard to the practice
        of law, and have an equal enthusiasm for writing. Also my legal career
        felt very Kafkaesque to say the least.

        <br />
        <br />
        Nonetheless, I am very grateful for the experience I gained during my
        legal career. During my legal training I worked on a lot of high profile
        transactions and legal matters. Furthermore, this period re-affirmed my
        commitment to creating and designing high quality digital products.
        During my articles I continued to up-skill and advance as a designer and
        a developer.

        <br />
        <br />
        In addition, I continued to expand my portfolio of published articles
        and had the great opportunity to deliver a Tedx Talk. I used these
        mediums to further explore my love for STEM and creativity, and use them
        as opportunities to develop innovative solutions for pressing global
        social and economic problems. My communication skills, which have only
        been further sharpened by my legal experience, have allowed me to be
        regarded as an “economic storyteller”, and have granted me to build one
        of the top personal finance blogs in South Africa (as according to Daily
        Finance UK).
        <br />
        <br />
        My continuous commitment to developing global solutions as a social
        entrepreneur, economic storyteller, a designer and developer have not
        gone unnoticed, as I have been fortunate to have been selected in the
        prestigious Mail and Guardian Top 200 South Africans list, in the class
        of 2021.
      </span>

      <span>
        <button class="cta-button">Let's Collaborate</button>
      </span>
    </span>

    <span class="ab-2">
      <span class="call-of-action"> Get to know me. </span>
      <span class="quiz-heading">Which of the following is not true?</span>

      <!--fact 1-->
      <span class="question">
        <input type="radio" name="fact" value="True" class="radio-button" />
        <span class="fact">Elon Musk is my spirit animal. </span>
      </span>

      <!--fact 2-->
      <span class="question">
        <input type="radio" name="fact" value="True" class="radio-button" />
        <span class="fact"
          >My favorite authors are H. Murakami, J. Baldwin, C. Achebe and F.
          Dostoyevsky.
        </span>
      </span>

      <!--fact 3-->
      <span class="question">
        <input type="radio" name="fact" value="True" class="radio-button" />
        <span class="fact">In my lifetime, I would love to visit Mars. </span>
      </span>

      <!--fact 4-->
      <span class="question">
        <input type="radio" name="fact" value="True" class="radio-button" />
        <span class="fact"
          >I quote way too much from the Godfather triology.
        </span>
      </span>

      <!--fact 5-->
      <span class="question">
        <input type="radio" name="fact" value="True" class="radio-button" />
        <span class="fact"
          >The movie Pretty Women is for me, what Forrest Gump is to Jack Ma.
        </span>
      </span>

      <!--fact 6-->
      <span class="question">
        <input type="radio" name="fact" value="True" class="radio-button" />
        <span class="fact">My favorite color is lavender. </span>
      </span>

      <!--fact 7-->
      <span class="question">
        <input type="radio" name="fact" value="True" class="radio-button" />
        <span class="fact"
          >My favorite series at the moment is the Peaky Blinders, and I am
          terribly sad that it is coming to an end.
        </span>
      </span>

      <!--fact 8-->
      <span class="question">
        <input type="radio" name="fact" value="True" class="radio-button" />
        <span class="fact"
          >My favorite inventor of all time is Alan Turning.
        </span>
      </span>

      <!--fact 9-->
      <span class="question">
        <input type="radio" name="fact" value="False" class="radio-button" />
        <span class="fact"
          >I do not believe that pineapple belongs on pizza.
        </span>
      </span>

      <!--fact 10-->
      <span class="question">
        <input type="radio" name="fact" value="True" class="radio-button" />
        <span class="fact">I prefer DC Comics to Marvel Comics. </span>
      </span>

      <!--fact 11-->
      <span class="question">
        <input type="radio" name="fact" value="True" class="radio-button" />
        <span class="fact">My favorite PS4 game is Teacup. </span>
      </span>

      <!--submit button-->
      <span class="submit">
        <button>Submit Answer</button>
      </span>
    </span>
  </span>
</span>
