<span class="content-paragraph">
  <span class="body">
    In order to ensure that the objectives of Wavy are achieved, and to track
    its impact on users, the following metrics will be monitored and reviewed:
  </span>

  <span class="body">
    <ol type="1">
      <li>
        User engagement with Wavy will be tracked to ensure that the user is
        referencing the app and using it to monitor and manage their
        investments;
      </li>
      <li>Users show an increase in investing activity; and</li>
      <li>
        An increase in investment activity in the South African capital markets
        can be attributed too Wavy.
      </li>
    </ol>
  </span>
</span>
