<span class="content-paragraph">
  <span class="body">
    The objectives of Wavy can be grouped into two main categories:
  </span>

  <span>
    <ol class="body highlight">
      <li>Develop users confidence through financial education; and</li>
      <li>Drive financial inclusion through financial education.</li>
    </ol>
  </span>

  <span class="sub-title-format underline">
    1. Develop users confidence through financial education.
  </span>

  <span class="body">
    Wavy wants to empower users to make confident and informed financial
    decisions, particularly as it relates to investing.
    <br />
    <br />

    Wavy wants to ensure that users are empowered to make informed financial
    decisions that allow them to build a profitable investment portfolio. This
    breaks down to the following objectives:
  </span>

  <span class="body">
    <ol type="i">
      <li>Improve the user’s familiarity with the capital markets;</li>
      <li>
        Build the confidence of the user, such that they are able to invest in
        the capital markets;
      </li>
      <li>
        Aid the user in achieving their personal finance objectives, such as
        building wealth;
      </li>
      <li>Improve the user’s investment portfolio performance;</li>
      <li>Help improve and develop the user’s financial literacy; and</li>
      <li>
        Help users build, develop and maintain important financial habits.
      </li>
      <br />
    </ol>
  </span>

  <span class="sub-title-format underline">
    2. Drive financial inclusion and subsequently facilitate sustainable social
    and economic growth.
  </span>
  <br />

  <span class="body">
    Wavy wants to ensure that through financial education, financial inclusion
    is scaled. This breaks down into the following objectives:
  </span>

  <br />

  <span class="body">
    <ol type="i">
      <li>
        Wavy wants to increase consumer investment in the capital markets;
      </li>
      <li>
        Wavy wants to facilitate financial and economic inclusion in the capital
        markets, through investments;
      </li>
      <li>
        Wavy wants to increase the wealth in households and fight the growing
        inequality gap; and
      </li>
      <li>
        Wavy wants consumers to have knowledge to take advantage of the
        financial benefits that come with investing in the capital markets, such
        as tax breaks.
      </li>
    </ol>
  </span>

  <br />

  <span class="body">
    It can also be noted that both categories of the objectives of Wavy are all
    done with the intent of strengthening the capital markets, which plays a
    critical role in facilitating and ensuring sustainable economic growth.
    Therefore, it can be concluded that all of Wavy’s objectives can be
    umbrellaed under the fundamental objective of aiding equitable economic
    development.
  </span>

  <span class="final-block-space"> </span>
</span>
