<span class="content-paragraph">
  <span class="body">
    For the purposes of context, when I refer to the digital debt management
    market I am referring to digital products that are targeted at aiding
    consumers with the management of their debts. In this regard I am
    particularly focusing on the South African market. In this study I
    identified two interesting case studies which provide further insights on
    the gaps in the digital debt management market.
  </span>
  <br />
  <span class="bold highlight">1. Clear Score </span>
  <span class="body">
    My first study was on Clear Score, and this is because Clear Score is
    perhaps the most visible digital debt management product in South Africa.
    Clear Score has a web application and mobile application that is available
    on the Android PlayStore. Interestingly enough, they do not have an app
    available from the Apple App Store, a problem I think can be resolved
    through Flutter app development. Clear Score provides the user with a free
    monthly credit score report which is accessible on the users profile through
    the web app or mobile app. In addition, subject to the users credit score it
    provides them with credit offers from different creditors.
  </span>
  <br />
  <span class="body">
    Clear Score is effective in tracking the progress of its users credit score,
    but it is by no means an effective tool for active debt management and
    active credit score development. Furthermore, as Clear Score generates money
    through commissions it ,makes from the credit products it is able to sell to
    its users, this give a prima facie impression of conflict of interests.
  </span>
  <br />
  <span class="body">
    It can be argued that by Clear Score providing its users with free monthly
    reports on their credit score, they are facilitating credit score
    development for their users. In support of this argument can be the fact
    that Clear Score also attempts to advise their users on what they are doing
    well, and further to this Clear Score curates articles that provide
    information on credit scores and how to build them.
  </span>
  <br />
  <span class="bold-sub-heading"> What Clear Score does well. </span>

  <span class="body">
    <ul>
      <li>It allows the user to track the changes in their credit score;</li>

      <li>
        It provides the user with tips on how to improve their credit score;
      </li>

      <li>It shows the user what they doing well; and</li>
      <li>
        It provides the user with information as to what payments they have made
        and have not made.
      </li>
    </ul>
  </span>

  <span class="bold-sub-heading"> The limitations of Clear Score: </span>

  <span class="body">
    <ul>
      <li>It does not alert users to upcoming payments;</li>

      <li>
        It does not allow the user to set targets and goals for their credit
        score;
      </li>

      <li>
        The representation of the tracking is unclear. For example, the
        application will indicate that the user’s credit score has gone up, but
        will also highlight that the credit score has decreased by some points;
        and
      </li>

      <li>
        New debt products are heavily marketed at the users, even where users
        may be incompatible for the product being advertised to them.
      </li>
    </ul>
  </span>
  <br />
  <span class="body">
    The criticism of Clear Score may be unfair, as I think the focus of Clear
    Score is to provide users with a free monthly credit score report.
    Alternatively, Clear Score can be designed to assist users with find credit
    offerings? That part is not clear. Nonetheless, I do not think the primary
    focus of Clear Score is to aid the users in building their credit score.
    Therefore, I shift my focus to the next case study I conducted in order to
    identify the gaps in the digital debt management market.
  </span>
  <br />
  <span class="bold highlight">
    2. Debt Management Apps on the App Stores
  </span>
  <br />
  <span class="body">
    Alternative to Clear Score there are some digital products that have
    labelled themselves as debt management apps. Unlike Clear Score many of
    these applications have failed to pickup traction and interestingly enough
    they all have similar shortcomings.
  </span>

  <br />
  <span class="body"> The shortcomings of these apps: </span>

  <span class="body">
    <ul>
      <li>
        They require that data be
        <span class="underline">manually</span> entered into the app and
        therefore compromise the efficiency of the digital product;
      </li>
      <li>
        The application relies on user’s input and therefore the application
        cannot in turn provide the user with live updates and this therefore
        hinders on the offering of the digital product;
      </li>
      <li>
        The application is poorly designed and the user interface (“the UI”)
        adds complexity to the user experience and drives the users away from
        the product; and
      </li>
      <li>
        The product is over saturated with information and does not utilise
        creative or innovative ways to represent data and information, and
        subsequently the product becomes a deterrent to the user.
      </li>
    </ul>
    <br />

    <span class="bold highlight">
      Key takeaways from the markets analysis:
    </span>
    <br />

    <span class="body">
      These two studies have allowed me to identify the overall shortcomings in
      the digital debt management market. Furthermore, in identifying the gaps
      in this market I am able to design Score as a direct response to these
      shortcomings, all with the aim of providing users with a product that
      drives a positive impact in their personal finances.
    </span>
    <br />

    <span class="body">
      There are products in the respective app stores that try to facilitate
      active debt management. However, these products have failed to be
      successful primarily for the following reasons:
    </span>
    <br />

    <span class="body">
      <ol type="a">
        <li>They rely to heavily on manual data inputs;</li>
        <li>The UI is uninspiring and overwhelming to use; and</li>
        <li>
          They do not seamlessly integrate necessary information such as credit
          score information.
        </li>
      </ol>
    </span>

    <span class="body">
      The products in the debt management market are split between passive and
      active assistance of which does not really give the user a holistic
      experience and single platform in which that can effectively manage their
      debt. This is the gap that continues to exist in the debt management
      product market, and this is the problem that Score is designed to address.
    </span>
    <br />
    <br />

    <span class="bold"> Target market </span>
    <br />

    <span class="body">
      The functionality of Score serves the benefit of the individual users who
      use the mobile application and also financial institutions whose client
      base broadens as more consumers have improved credit scores.
    </span>
  </span>
</span>
