<span class="content-paragraph">
  <span class="body highlight">
    The user research allowed us to identify patterns which allows us to
    categories the users in the following main categories:
  </span>

  <span class="body">
    <ol type="a">
      <li>Uninformed User</li>
      <li>Overwhelmed User</li>
      <li>Informed User</li>
      <li>A Hesitant User</li>
    </ol>
  </span>

  <span class="space">
    <span class="body">
      <span class="highlight">
        Each of the following categories has bespoke needs that have to be
        collectively considered in the design process. Even though distinct
        categories of users have been identified some users can be a combination
        of the different categories listed below.
      </span>

      <br />
      <br />

      The needs for each of these categories have been summarised as follows:
    </span>
  </span>

  <span class="bold"> a. Uninformed User: </span>

  <span class="body">
    This user is uninformed about debt and credit scores and the correlation
    between the two and how they may have an impact on their personal finances.
    This user is looking to gain a better literacy about debt and credit scores.
    As eager as they may be to improve their financial literacy, it would remain
    important to present information and action plans in a simple format so that
    they do not become an Overwhelmed User.
  </span>

  <br />
  <br />

  <span class="bold"> b. Overwhelmed User: </span>

  <span class="body">
    This user feels that they have an information overload or information
    deficiency and this is playing a big role in their debt management and
    building a credit score. This user is looking for a simple process
    facilitated by a platform to manage their debt and their credit score as
    well as to develop their financial literacy.
  </span>

  <br />
  <br />

  <span class="bold"> c. Informed User: </span>

  <span class="body">
    This user has a good understanding and appreciation pertaining to building a
    credit score, and has in some manner built a system to track and manage
    their credit score. This user is looking for a tool that will bypass
    whatever current system they have in place because it proves to be more
    effective and efficient in managing their personal finances.
    <br />
    <br />
    Where this user distinctly differs from category a, the Overwhelmed User and
    b, the Informed User is that they are not looking to acquire further
    information primarily about debt management and credit scores. It is
    important to note that just because they have a good understanding about
    debt and credit scores, does not mean that they do not still require
    “financial literacy information”. It just means that the information
    required for this user would have to be more advanced and cater to their
    knowledge and understanding of debt and credit scores.
  </span>
  <br />
  <br />

  <span class="bold"> d. A Hesitant User: </span>

  <span class="body">
    This user may be informed or uninformed but remains hesitant about debt
    management and building a credit score. This is mainly rooted in their
    discomfort with debt or with the use of financial technology. This user is
    mainly looking to gain their understanding of debt in order to build their
    confidence to explore credit financial products.
    <br />
    <br />

    Furthermore, for the Hesitant User to be fully committed to using a product
    like Score they will have to be confident that the platform has credible and
    accurate information, and that the their data is safe and secure with the
    platform.
  </span>

  <span class="space"></span>

  <span class="bold-sub-heading highlight">
    Something which the research noted that may have been overlooked otherwise:
  </span>

  <br />

  <span class="body">
    Data security and privacy is mandated by laws, statute and public opinion,
    nonetheless the design of the product must make the user feel safe. It must
    be clear to the user at all times that their data is safe. This can be
    achieved through wording and policy or data security notifications, but also
    through things such as :
  </span>

  <span class="body">
    <ul>
      <li>Login and logout capacity;</li>
      <li>Easily accessible terms and conditions, and data policy; and</li>
      <li>Authentication checks.</li>
    </ul>
  </span>

  <br />

  <span class="body">
    From the research, it is clear that the UI design also has an important role
    in making sure that the user feels safe when using Score.
  </span>
  <br />
</span>
