@use "../../general-styles/" as gs;

.muno-frame {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: gs.$white;
  object-fit: fill;
  padding: 5px;
}

.image-box {
  display: flex;
  height: auto;

  &_unicorn {
    margin-top: 115px;
    border-radius: 50%;
    background-color: gs.$soft-blue;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    font-size: 25px;
    margin-right: -25px;
    z-index: 1;
  }

  &_lawyer {
    margin-top: 57px;
    margin-left: -50px;
    display: flex;
    width: 255px;
    padding: 5px;
    height: 45px;
    border-radius: 10px;
    background-image: radial-gradient(at 100% bottom, gs.$white);
    border: solid 2px rgba($color: gs.$white, $alpha: 0.7);
    justify-items: flex-start;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    &__icon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      padding-left: 2px;
      display: flex;
      background-color: gs.$basic-grey;
      font-size: 18px;
      justify-content: center;
      justify-items: center;
      align-items: center;
      align-content: center;
      margin-right: 12px;
    }

    &__label {
      color: gs.$dark-lavender;
      @include gs.h6;
    }
  }
}

.color-tag {
  margin-top: 295px;
  margin-left: -255px;
  background-color: gs.$main-lavender;
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 282px;
  height: 28px;
  @include gs.h6;
  color: gs.$white;
  border-radius: 8px;
}

@media (max-width: gs.$tablet) {
  .image-box {
    margin-left: 105px;
    margin-bottom: 45px;
  }

  .muno-frame {
    width: 125px;
    height: 125px;
    margin-left: 140px;
  }

  .image-box_unicorn {
    margin-top: 80px;
    border-radius: 50%;
    background-color: gs.$soft-blue;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    font-size: 16px;
    margin-right: -150px;

    z-index: 1;
  }

  .image-box_lawyer {
    display: flex;
    width: fit-content;
    height: 30px;
    padding: 5px;
    margin-top: 30px;
    margin-left: -25px;
    margin-right: 15px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;

    &__label {
      font-size: 14px;
      width: fit-content;
      display: flex;
    }

    &__icon {
      width: 15px;
      height: 15px;
      font-size: 12px;
      padding-left: 1px;
    }
  }

  .color-tag {
    margin-top: 145px;
    margin-left: -175px;
    background-color: gs.$main-lavender;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    width: fit-content;
    padding-right: 15px;
    padding-left: 15px;
    height: 28px;
    @include gs.h6;
    font-size: 12px;
    color: gs.$white;
    border-radius: 8px;
  }
}
