@use "../../general-styles/" as gs;

.section-container {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.small-card {
  display: flex;
  flex-direction: column;
  height: 580px;
  width: 465px;
  justify-content: space-around;

  align-items: center;
  align-content: center;
  border: gs.$basic-grey;
  box-shadow: 5px 5px 10px grey;
  margin-bottom: 135px;

  &-image {
    width: 406px;
    height: 232px;
    justify-self: center;
    object-fit: contain;
  }
  &-label {
    display: flex;
    flex-direction: column;
    width: 100%;

    justify-content: center;
    align-items: center;
  }
}

.number {
  @include gs.h2;
}

.project-title {
  @include gs.h4;
}

@media (max-width: gs.$tablet) {
  .project-title {
    @include gs.h5;
  }

  .small-card {
    height: 500px;
    width: 415px;
  }

  .small-card-image {
    width: 305px;
    height: 150px;
  }
}
