<span class="content-paragraph">
  <span class="body">
    The limitations of this case study was the time frame to conduct the study.
    Ideally it would have been nice to get further feedback from the potential
    users.

    <br />
    <br />

    Provided that I had more time and the users were still available, I would
    have asked each user to go through the prototype and provide further
    feedback on what the current product design captured well, and what further
    improvements could be made.
  </span>
</span>
