<span class="content-paragraph">
  <span class="sub-title-format highlight"> 1. The consumer need. </span>

  <span class="body">
    Wavy provides consumers with a product that targets many of their financial
    needs - in a way that many other financial products in the market have
    neglected too.
    <br />
    <br />
    The South African consumer does not lack the enthusiasm to develop their
    personal finances, what they do lack is easy access to a breadth of
    resources that allow them to start investing their finances.

    <br />
    <br />
    Where consumers have access to financial advisors, they are more incline to
    over rely on these professionals to advise and assist them in building an
    investment portfolio. This route to investing is not without its concerning
    limitations, as most financial advisors who operate as an extension of a
    financial institution have compromised objectives. Financial advisors who
    are affiliated with certain financial institutions can easily be bias
    towards certain financial products that have influence on their remuneration
    packages.
    <br />
    <br />
    It is a very limited economic class of people who can afford the elite range
    of fund managers who consider a much broader scope of investment options.
    What Wavy does, is provide everybody equal access to a fair assessment of
    all financial listed products against the same metrics, therefore removing
    any prejudicial bias. Furthermore, Wavy goes the extra mile by developing
    the user’s financial education so that they can competitively and
    comparatively conduct financial analysis to achieve their financial goals.
  </span>

  <br />
  <br />

  <span class="sub-title-format highlight">
    2. The financial sector need.
  </span>
  <span class="body">
    At face value it would appear that Wavy is competing with the role of
    financial advisors and wealth planners, and overall competing with the
    financial sector on this score. This is to the contrary, as Wavy is
    complimentary tool that serves as an effective mediator between consumer and
    financial sector.
    <br />
    <br />
    More often than not consumers who invest through their financial advisor are
    not anymore financially literate because of it. It could be argued that
    their financial education is even stunted because they now delegate this
    responsibility, and as a result the relationship that develops between
    consumer, financial advisor and the financial sector is easily vulnerable to
    be coming distorted. For example, if the performance of the advised
    investment portfolio goes down the user whose understanding of market risk
    and cycles has not been developed, this user can easily place blame of such
    a decline on the financial advisor and the financial market becomes
    perceived as “
    <span class="quote">a scam</span>
    ”. This said, it is not to say that an investor who invest unadvised is not
    in the same position to cause undue misrepresentation of the financial
    sector through their own ill-advised investing activity.
    <br />
    <br />
    A balance needs to be achieved and this is done through Wavy.
    <br />
    <br />
    Wavy develops the consumers’ trust in the financial sector, by providing
    them with full transparency on their investments which is easy for everyday
    consumers to understand, whilst simultaneously developing the users
    financial education. A financially educated consumer is a huge asset to any
    financial institute, because such a quality client is able to grow their
    personal finances in a manner that allows them to absorb more financial
    products outside of the scope of investing, and therefore allowing them to
    increase their bottom line.
    <br />
    <br />
    What Wavy does not offer financial institutions that financial advisors are
    able to offer the financial sector, is preferential treatment purely on the
    basis of affiliation. This furthers the credibility of Wavy, whilst also
    creating a gentle motivation for financial institutions to launch quality
    and competitive financial products to consumers.
  </span>
  <br />
  <br />

  <span class="sub-title-format highlight"> 3. The economic need. </span>

  <span class="body">
    For sustainable economic growth in South Africa, there needs to be more
    investment in the capital markets.
    <br />
    <br />
    There have been conclusive findings from research done by global
    institutions such as the World Bank that the capital markets play a critical
    role in sustaining economic development. A strong correlation can be
    deducted between strong capital markets and economic development.
    <br />
    <br />
    The impact and the effect of the capital markets is advanced when consumers
    are involved as active investors in the capital markets. This aids financial
    inclusion as well as social development.
  </span>

  <span class="body">
    Economic inclusion is key for any substantive and sustainable economic
    growth, but also paramount to address social issues in South Africa. Wavy’s
    main target is to address inequality that flows from financial exclusion.
    Through Wavy, consumers are able to develop a sense of pride as a
    shareholder in multinational and local corporations; they can feel
    additional excitement from developing a stream of passive income; and they
    can develop and change the public perception that the capital markets of
    South Africa are reserved for an exclusive elite.
    <br />
    <br />
    This restores trust between consumers and the economy and it also motivates
    users to expand their interest in economic growth and development. This has
    the additional benefit, of the consumer augmenting their economic
    consciousness and starting to adopt behaviours and engage in activities that
    better their investments and further their economic growth, now that they
    would have a scaling interest in the economy. In South Africa, a like many
    other countries this is of significant importance because many consumers
    feel victim to the economy and not part of the economy. Wavy changes this
    dynamic by giving consumers’ a new perception and different opportunities to
    engage in the market.
  </span>
</span>
