<span class="content-paragraph">
  <span class="body"
    >There are many design requirements that are important to give effect to the
    design principles. The following features have been highlighted because they
    have been crafted specifically to address the above mentioned design
    principles.
  </span>
  <br />
  <span class="body highlight"> 1. User Profile. </span>
  <span class="body">
    Through subjective and objective metrics the identity of the user will have
    to be determined. This is important to inform Wavy what scope of access they
    should give the user.
  </span>
  <br />
  <span class="body highlight">
    2. Comprehensive Summary of the financial product.
  </span>

  <span class="body">
    The key considerations and factors of a financial product need to be
    sufficiently and effectively communicated to the user without compromising
    the credibility of the information. This feature allows for Wavy to be
    accessible. This is also necessary to develop the users’ financial literacy
    education, in order to deepen their understanding pertaining too investing
    in the capital markets.
  </span>
  <br />

  <span class="body highlight"> 3. Financial Literacy Education </span>

  <span class="body">
    Learning is indirectly embedded in the platform both directly and
    indirectly. This feature will be designed to attend to direct learning on
    the platform. The feature will serve the primary function of improving the
    financial literacy of the user, and keep them motivated and consistent with
    their learning. It is to effect the principle of skills development, along
    with responsibility, credibility, integrity and accountability. The
    fundamental aim of Wavy is to develop its users so that they can make
    informed financial decisions. This feature priorities this objective.
  </span>
  <br />

  <span class="body highlight"> 4. Portfolio management. </span>

  <span class="body">
    There must be easy access for the user to manage their portfolios and
    personal finances. This features is designed to allow the user to be able to
    make as many portfolios as they wish in alignment with their financial
    objectives. This will help them organise and achieve their personal finance
    objectives.
  </span>
  <br />

  <span class="body highlight"> 5. Profile Tracker. </span>

  <span class="body">
    In order to ensure that the impact of Wavy is measurable, it will be
    important to manage the profile of the user. This feature will track the
    position of the user when they signed up with the platform and from this
    point track what developments occur in their personal finance through the
    usage of wavy.
  </span>
  <br />

  <span class="body highlight"> 6. Automated Verification Process. </span>

  <span class="body">
    One of the biggest delays that users experience when signing up for
    investing accounts, is the delay that occurs when attempting to verify the
    user. It is important that Wavy takes advantage of the different financial
    APIs that exist on the market. This will suffice for an efficient user
    experience.
  </span>
  <br />

  <span class="body highlight">
    7. An efficient onboarding and payout system.
  </span>
  <span class="body">
    Further to the verification process, it will be important that the user is
    able to timelessly see their deposits reflected in their account, as well as
    their withdrawals. This will strengthen the user’s overall experience of
    Wavy. It is important that there be a dedicated feature that handles the
    efficiency of the onboarding process along with subsequent financial
    activities that occur through the platform.
  </span>
  <span class="final-block-space"></span>
</span>
