<span class="content-paragraph">
  <span class="body highlight"> The research highlighted the following: </span>

  <span class="body">
    <ol type="1">
      <li>
        It is going to be key to identify the profile (such as Beginner
        Investor, or Experienced Investor) of the user at the signing up stage,
        and track their development as an investor and adjust their exposure to
        certain features offered by the platform based on their investment skill
        level.
      </li>

      <li>
        In order to ensure development of the user’s understanding of investing,
        learning will have to be an embedded feature in the platform.
      </li>
      <li>
        Understanding the user will be important to hedge against reputational
        risk that can arise when users make reckless decisions that reflect on
        the lack of precautionary measures on the platform.
      </li>
      <li>
        Credibility of information provided by the platform will be of great
        importance due to the user’s reliability on such, to make informed
        financial decisions and improve their financial literacy.
      </li>
      <li>
        Complex information pertaining to the capital markets or financial
        products will have to be lean and easy to process, so that the user is
        not intimidated by making decisions.
      </li>
    </ol>
  </span>
</span>
