<div class="navigation-links-container">
  <span class="navigation-heading"> My Projects </span>
  <span>
    <a href="#project 1">
      <span class="link-container">
        <span class="link-container_number"> 01 </span>
        <span class="link-container_link"> Should I Invest? </span>
      </span>
    </a>

    <a href="#project 2">
      <span class="link-container">
        <span class="link-container_number"> 02 </span>
        <span class="link-container_link">
          Score: Build Your Credit Score.
        </span>
      </span>
    </a>

    <a href="#project 3">
      <span class="link-container">
        <span class="link-container_number"> 03 </span>
        <span class="link-container_link"> Astute, Financially Astute </span>
      </span>
    </a>

    <a href="#project 4">
      <span class="link-container">
        <span class="link-container_number"> 04 </span>
        <span class="link-container_link">
          Get to know me - Munozovepi.com
        </span>
      </span>
    </a>
  </span>
</div>
