<span class="content-paragraph">
  <span class="body">
    From the exciting six years that I have been in the personal finance space,
    I have always been consistently asked the question, "<span class="quote"
      >how do I know what to invest in?
    </span>
    “. I completely empathise with this question, because when I started
    investing at the age of 17, I had the exact same question hesitating my
    investing journey. There are so many financial products (stocks, exchange
    traded funds, unit trust etc…) to choose from. Publicly listed financial
    products are required by law to provide the public with the necessary
    information on the respective financial product, however, a lot of the
    information on financial products is intimidating or time consuming for the
    average person to process, and therefore making it inaccessible to most
    people. Without access to financial information that is easy to process, the
    everyday consumer is barred entry to being their own investment manager.
  </span>

  <span class="space"></span>

  <span class="body">
    There are a small niche’ of people who can circumvent this problem by
    relying on professional financial advisors who paid to process through the
    verbose financial jargon and therefore assist their clients with building an
    investment portfolio. Outside of this niche, the remainder of people are
    fully reliant on themselves to make the necessary investment decisions to
    achieve their financial goals. This cannot be achieved if this category of
    people are not financial educated to make the right investment decisions.
  </span>

  <span class="space"> </span>

  <span class="body">
    <span class="highlight">
      This hits at the crux of the problem, only 1 in 3 adults across the globe
      are financially literate (according to S&P Global ).
    </span>
    Financial illiteracy is the common denominator and sustainer of ongoing
    global social and economic problems.
    <span class="highlight">
      Wavy is designed to resolve the problem of financial illiteracy by
      providing all users with the tools to develop their skill set, and expand
      their financial education in order to successfully become empowered
      investors.
    </span>
  </span>
  <span class="final-block-space"></span>
</span>
