<span class="hero-page">
  <span class="hero-background">
    <app-hero></app-hero>
  </span>

  <span class="projects-navigation">
    <app-navigation-links></app-navigation-links>
  </span>

  <span id="project 1" class="project-cards">
    <app-project-one></app-project-one>
  </span>
  <span id="project 2" class="project-cards">
    <app-project-two></app-project-two>
  </span>
  <span id="project 3" class="project-cards">
    <app-project-three></app-project-three>
  </span>

  <span id="project 4" class="project-cards">
    <app-small-project-cards></app-small-project-cards>
  </span>

  <span class="hero-page">
    <app-toolbox> </app-toolbox>
  </span>

  <span class="project-cards">
    <app-media> </app-media>
  </span>

  <span class="copyright hero-page">
    © 2022 Munozovepi.com, All rights are reserved.
  </span>
</span>
