.hero-background {
  background-image: url("../../../assets/images/general/Background.svg");
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}
