<span>
  <span class="hero-background">
    <app-hero></app-hero>
  </span>

  <span id="project 1" class="project-cards">
    <app-project-one></app-project-one>
  </span>
  <span id="project 2" class="project-cards">
    <app-project-two></app-project-two>
  </span>
  <span id="project 3" class="project-cards">
    <app-project-three></app-project-three>
  </span>

  <span id="project 4" class="small-project-cards">
    <app-small-project-cards></app-small-project-cards>
  </span>

  <span>
    <app-toolbox> </app-toolbox>
  </span>

  <span>
    <app-contact-form></app-contact-form>
  </span>
</span>
