.hero-background {
  background-image: url("../../../assets/images/general/Background.svg");
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-cards {
  display: block;
  margin-bottom: 100px;
  margin-top: 25px;
  background-color: white;
}
