@use "../../general-styles/" as gs;

.hero-background {
  background-image: url("../../../assets/images/general/Background.svg");
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-cards {
  width: 100%;
  display: flex;
  margin-bottom: 100px;
  margin-top: 15px;
  background-color: white;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.projects-navigation {
  display: none;
}

.copyright {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  justify-items: center;
  padding: 10px;
  margin-bottom: 15px;
}

@media (max-width: gs.$tablet) {
  .project-cards {
    margin-top: 5px;
  }

  .projects-navigation {
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: gs.$white;
    width: 100%;
    visibility: visible;
  }
}
