<span class="content-paragraph">
  <span class="body">
    The research shows that in order for Wavy to give a competitive and
    comprehensive offering, it needs to be developed in phases. This will allow
    for user feedback, and the necessary considerations to develop into the most
    compatible product for the objectives the product aims to achieve.
    <br />
    <br />
    This is often the trend for successful Fintech products that have managed to
    have long term sustainable growth. Wherever platform development has been
    rushed, user experience is compromised as well as the reputation of the
    product.
    <br />
    <br />
    Following from this, the primary focus is to safeguard the integrity of the
    user experience. In order to maintain the integrity and quality of Wavy, it
    will have to be developed from a lean minimal viable product to its full
    offering over a series of phases that consistently integrates user feedback,
    and strategically layers and introduces its full features and services to it
    users.
  </span>
  <span class="final-block-space"></span>
</span>
