<span class="page-container">
  <!--column 1-->
  <span class="navigation-column">
    <span class="project-number"> 03</span>
    <span class="project-heading"> Astute, Financially Astute </span>

    <!--column 2--><!--the project content-->
  </span>

  <span class="project-content">
    <span class="project-number-false"> 03</span>
    <span class="project-heading-false"> Astute, Financially Astute </span>
    <!--introduction -->
    <span class="content">
      <app-astute-content></app-astute-content>
    </span>
  </span>
</span>
