<span class="content-paragraph">
  <span class="body">
    The fundamental objective of Score is to prevent any furtherance of
    financial exclusion of consumers, which is a result of consumers being
    unable to effectively manage their debt. Score is designed to aid the debt
    management process for the user and subsequently improve the credit score of
    the user.
  </span>
  <br />
  <span class="body highlight">
    Score is designed to help users incrementally achieve the perfect credit
    score and also assist the user in maintaining a good credit score. The
    objective of this is that with a strong credit score they are able to
    leverage good debt to advance their personal finances.
  </span>
  <br />
  <span class="body"> The way Score aims on achieving this is by: </span>

  <span class="body">
    <ul>
      <li>
        Actively providing users with the necessary information to build their
        credit score;
      </li>
      <li>
        Making the process of debt management seamless and ensuring that they
        are not overwhelmed whilst managing their debt;
      </li>
      <li>
        Keeping the user motivated and encouraged to continue to build their
        credit score by highlighting the benefits of a good credit score;
      </li>
      <li>
        Actively assisting the users with implementing the action steps
        necessary to build their credit score; and
      </li>
      <li>
        Actively assisting the users with tracking the developments in their
        credit score.
      </li>
    </ul>
  </span>
</span>
