<span class="content-paragraph">
  <span class="body">
    The intial design and wireframe of the Wavy mvp was developed and designed
    using sketch and the files have been embedded below.
  </span>
  <br />

  <span class="body highlight">
    <a
      target="_blank"
      class="body highlight"
      href="https://www.sketch.com/s/cd332161-d606-4e05-a6bd-ef46b1ab75b8"
      >Sketch files of Wavy mvp</a
    >
  </span>

  <br />

  <span class="body">
    The latest version of the UI design for the Wavy mvp has been embedded
    below.
  </span>
  <br />

  <span class="body">
    <iframe
      style="border: 1px solid rgba(0, 0, 0, 0.1)"
      width="800"
      height="450"
      src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2F5rqQva77VamdNQBaw4SjCB%2FWavy-MVP%3Fnode-id%3D13%253A2"
      allowfullscreen
    ></iframe>
  </span>
</span>
