<span class="about-section">
  <span class="left-side">
    <span class="about-tagline"> Zero to One </span>

    <span class="heading-about"> Completed Works </span>

    <span class="small-card">
      <span class="small-card-image">
        <img
          class="small-card-image"
          src="../../../assets/images/general/2.png"
          alt=""
        />
      </span>
      <span class="number"> 04 </span>
      <span class="about-tagline">Built and Developed</span>
      <span class="project-title"> Munozovepi.com</span>
      <span>
        <button class="small-card-button">
          <a class="small-card-button" routerLink="Personal Website"
            >View Full Project</a
          >
        </button>
      </span>
    </span>
  </span>

  <span class="right-side">
    <span class="right-tagline-news"> I cannot stop talking about </span>

    <span class="right-heading"> Notable Published Articles </span>

    <!--technology & entre-->
    <span class="right-tagline"> Technology and Entrepreneurship </span>

    <a
      target="_blank"
      href="https://www.dailymaverick.co.za/opinionista/2018-07-05-unravelling-entrepreneurship-and-making-it-accessible/"
    >
      Unravelling entrepreneurship and making it accessible - Daily Maverick
      2018.</a
    >

    <a
      target="_blank"
      href="https://www.weforum.org/agenda/2019/08/fourth-industrial-revolution-education/"
    >
      To flourish in the fourth industrial revolution, we need to rethink these
      3 things - World Economic Forum 2019.
    </a>

    <!--banking & finance-->
    <span class="right-tagline">
      Banking, Finance and Alternative Finance
    </span>

    <a
      target="_blank"
      href="https://www.dailymaverick.co.za/opinionista/2018-10-08-a-template-for-understanding-the-african-debt-crisis/"
    >
      A template for understanding the African debt crisis - Daily Maverick
      2018.</a
    >

    <a
      target="_blank"
      href="https://www.derebus.org.za/is-the-secondary-role-of-the-nca-preventing-a-south-african-financial-crisis/#:~:text=The%20NCA%20plays%20a%20dual,internal%20or%20external%20debt%20crisis."
    >
      Is the secondary role of the National Credit Act preventing a South
      African financial crisis? - De Rebus 2018.
    </a>

    <a
      target="_blank"
      href="https://www.businesslive.co.za/bd/opinion/2020-06-11-business-rescue-and-private-equity-can-give-the-ailing-economy-a-leg-up/"
    >
      Business rescue and private equity can give an ailing economy a leg up –
      Business Day 2020.
    </a>

    <!--economic transformation-->
    <span class="right-tagline">
      Economic Transformation through Education and Entrepreneurship
    </span>

    <a
      target="_blank"
      href="https://www.dailymaverick.co.za/opinionista/2018-05-24-taught-to-fail-economic-transformation-starts-in-the-classroom/"
    >
      Taught to fail economic transformation starts in the classroom - Daily
      Maverick 2018.</a
    >

    <a
      target="_blank"
      href="https://www.businesslive.co.za/bd/opinion/2019-03-01-listing-smes-is-a-sure-way-to-create-jobs/"
    >
      Listing SMEs is a sure way to create jobs - Business Day 2018.
    </a>
  </span>
</span>
