@use "../general-styles/colors" as cs;

.top-menu-icons {
  width: 25px;
  height: 25px;
  object-fit: fill;
  margin-left: 21px;
}

.muno-image {
  width: 395px;
  height: 395px;
  border-radius: 50%;
  background-color: cs.$white;
}
