<div class="project-container">
  <span class="content-container">
    <span class="project-number"> 02</span>
    <span class="project-heading"> Score: Build your Credit Score. </span>
    <span class="project-description">
      A good credit score is the foundation of financial success. This may
      sounds counter -intuitive considering that a credit score is built on your
      debt usage, and debt is often written off as a bad thing? (Please
      appreciate the pun).
    </span>

    <span class="project-subheading"> How? </span>
    <span class="project-description">
      However, debt is not all bad, and this how Score helps you get your
      perfect credit score.
    </span>

    <span class="project-description-emphaisis">
      Score removes all the confusion, by showing you which debt is good,
      overpriced or just a bad idea.
    </span>
    <span class="project-button">
      <button class="button-style">View Full project</button>
    </span>
  </span>

  <span class="project-thumbnail">
    <img
      class="cover-image"
      src="../../../assets/images/general/Copy of Add a heading.png"
      alt=""
    />
  </span>

  <span class="hide">
    <span> <app-navigation-links></app-navigation-links></span>
  </span>
</div>
