<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <span class="top-menu">
        <a href="https://github.com/Munogwata" target="_blank">
          <img
            class="top-menu-icons"
            src="../../../assets/images/menu-items/Github_logo.png"
            alt="github logo"
          />
        </a>

        <a
          href="https://www.linkedin.com/in/munozovepi-gwata-037606126/"
          target="_blank"
        >
          <img
            class="top-menu-icons"
            src="../../../assets/images/menu-items/Linkedin_icon.png"
            alt="github logo"
          />
        </a>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
